<section class="fs-hero fs-hero--circle">
  <!-- content -->
  <div class="grid-container">
    <div class="grid-x">
      <div class="medium-6 medium-offset-3 cell">
        <div class="fs-hero__content">
          <h1>Sample content</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quod sapiente! Commodi tempore optio incidunt suscipit esse rem earum aliquam ipsam ex nesciunt aut necessitatibus, veniam expedita, deserunt quos. Ratione.</p>
          <a class="knob" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
