{{#ifequal type 'slick-slider'}}
<div class="hero-slider-area">
<div class="hero-slider">
      <div class="hero-slider__slideone hero-slider__sliders">
        <div class="grid-container">
          <div class="medium-8 medium-offset-2 cell">
          <!-- content -->
          <div class="hero-slider__inner">
            <h1 class="hero-slider__title">
              <span>We provide construction</span>
              <span>Best Solution</span>
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quasi facere ut aliquam tenetur est enim quaerat eum praesentium iure minima dolore illum voluptatum, illo veritatis excepturi, reprehenderit dolorem, repellendus.</p>
          </div>
        </div>
        </div>
      </div>
      <div class="hero-slider__slidetwo hero-slider__sliders">
        <div class="grid-container">
          <div class="medium-8 medium-offset-2 cell">
          <!-- content -->
          <div class="hero-slider__inner">
            <h1 class="hero-slider__title">
              <span>We provide construction</span>
              <span>Best Solution</span>
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quasi facere ut aliquam tenetur est enim quaerat eum praesentium iure minima dolore illum voluptatum, illo veritatis excepturi, reprehenderit dolorem, repellendus.</p>
          </div>
        </div>
        </div>
      </div>
</div>
<div class="hero-slider__nav"></div>
<div class="hero-slider__dots"></div>
</div>
{{/ ifequal}}
