{{#ifequal type 'slick-slider'}}
<div class="hero-slider-area">
<div class="hero-slider">
      <div class="hero-slider__slideone hero-slider__sliders">
        <div class="grid-container">
          <div class="medium-10 medium-offset-1 cell">
          <!-- content -->
          <div class="hero-slider__inner">
            <h1 class="hero-slider__title">Здания из металлоконструкций</h1>
            <div class="hero-slider__utp">
              <span class="hero-slider__utp-small">от </span>
              <h1 class="hero-slider__utp-title">2500</h1>
              <span class="hero-slider__utp-small"> р/м²</span>
            </div>
            <a href="#" class="knob">Заказать бесплатный расчет</a>
          </div>
        </div>
        </div>
      </div>
      <div class="hero-slider__slidetwo hero-slider__sliders">
        <div class="grid-container">
          <div class="medium-10 medium-offset-1 cell">
          <!-- content -->
          <div class="hero-slider__inner">
            <h1 class="hero-slider__title">
              Сельхозоборудование от производителя
            </h1>
            <div class="hero-slider__utp">
              <h1 class="hero-slider__utp-title">-15%</h1>
              <span class="hero-slider__utp-small"> на бороны</span>
            </div>
            <a href="#" class="knob">Перейти в каталог</a>
          </div>
        </div>
        </div>
      </div>
</div>
<div class="hero-slider__nav"></div>
<div class="hero-slider__dots"></div>
</div>
{{/ ifequal}}
