<div class="parallax-hero">
      <div class="grid-container">
            <div class="grid-x">
                  <div class="auto cell">
                        <div class="parallax-hero__inner">
                              {{> punch type='punch'}}
                        </div>
                  </div>
                  <div class="auto cell">
                        <div class="parallax-hero__inner">
                              {{> form}}
                        </div>
                  </div>
            </div>
      </div>
</div>
