{{#ifequal type 'infobox'}}
      <ul class="infobox">
            <li class="infobox__item">
                  <div class="infobox__iconbox">
                        <span class="infobox__icon icon-phone"></span>
                  </div>
                  <div class="infobox__content">
                        <p class="infobox__info">Телефон</p>
                        <div class="infobox__title">8 800 5000 700</div>
                  </div>
            </li>
            <li class="infobox__item">
                  <div class="infobox__iconbox">
                        <span class="infobox__icon icon-map-marker"></span>
                  </div>
                  <div class="infobox__content">
                        <p class="infobox__info">Адрес</p>
                        <div class="infobox__title">Липецк, Ул. Плеханова 28</div>
                  </div>
            </li>
            <li class="infobox__item">
                  <div class="infobox__iconbox">
                        <span class="infobox__icon icon-envelope"></span>
                  </div>
                  <div class="infobox__content">
                        <p class="infobox__info">email</p>
                        <div class="infobox__title">sales@gmail.com</div>
                  </div>
            </li>
      </ul>
{{/ifequal}}


{{#ifequal type 'h-infobox'}}
<ul class="h-infobox">
      <li class="h-infobox__item h-infobox__item--first">
            <div class="h-infobox__iconbox">
                  <span class="h-infobox__icon icon-phone"></span>
            </div>
            <div class="h-infobox__content">
                        <p class="h-infobox__info">Телефон</p>
                        <h4 class="h-infobox__title">8 800 5000 700</h4>
            </div>
      </li>
      <li class="h-infobox__item">
            <div class="h-infobox__iconbox">
                  <span class="h-infobox__icon icon-envelope"></span>
            </div>
            <div class="h-infobox__content">
                        <p class="h-infobox__info">email</p>
                        <h4 class="h-infobox__title">sales@gmail.com</h4>
            </div>
      </li>
      <li class="h-infobox__item h-infobox__item--last">
            <div class="h-infobox__iconbox">
                  <span class="h-infobox__icon icon-map-marker"></span>
            </div>
            <div class="h-infobox__content">
                        <p class="h-infobox__info">Адрес</p>
                        <h4 class="h-infobox__title">Липецк, Ул. Плеханова 28</h4>
            </div>
      </li>
</ul>
{{/ifequal}}

{{#ifequal type 'li-infobox'}}
<ul class="li-infobox">
      <li class="li-infobox__item">
                  <div class="li-infobox__iconbox">
                                    <span class="li-infobox__icon icon-envelope"></span>
                  </div>
                  <span class="li-infobox__title">880. 172. 3801. 729</span>
      </li>
      <li class="li-infobox__item">
                  <div class="li-infobox__iconbox">
                                    <span class="li-infobox__icon icon-map-marker"></span>
                  </div>
                  <span class="li-infobox__title">bonsico@email.com</span>
      </li>
      <li class="li-infobox__item">
                  <div class="li-infobox__iconbox">
                                    <span class="li-infobox__icon icon-map-marker"></span>
                  </div>
                  <span class="li-infobox__title">Липецк, Ул. Плеханова 28</span>
      </li>
</ul>
{{/ifequal}}
