<footer class="footer">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="large-4 medium-12 cell">
        <div class="footer__left">
          {{> logo type='logo--light'}}
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sint, pariatur modi temporibus delectus, aspernatur quam culpa laborum voluptates enim sapiente tempore placeat a consequatur numquam, dolor praesentium odio eius.</p>
          {{> socicons type="socicons--light"}}
        </div>
      </div>
      <div class="large-4 medium-12 cell">
        <div class="footer__mid">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nobis voluptate, explicabo consequatur laborum assumenda illo impedit harum officiis, aperiam hic, non nostrum porro. Quas, ipsum voluptas minima reprehenderit itaque?</p>
          <a class="knob" href="#">Задать вопрос</a>
        </div>
      </div>
      <div class="large-4 medium-12 cell">
        <div class="footer__right">
          <h3>Contact Us</h3>
          <p>
            Call us <span class="footer__contact-accent">777 888 999</span> or <span>111 222 333</span><br>
            Send an email <span><a class="footer__contact-link" href="">contact@example.com</a></span><br>
            Visit us <span class="footer__contact-accent">123 Fake Street- London 12358 United Kingdom</span>
          </p>
          {{> single-input type='k-single-input'}}
      </div>
      </div>
    </div>
  </div>
</footer>
