<footer class="li-footer">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="medium-3 cell">
        <div class="li-li-footer__left">
            {{> logo type='logo--light'}}
            <p class="li-footer__compinfo">«Стальстрой» предлагает надежные решения под ключ для строительства зданий самого широкого спектра назначений: промышленных и складских комплексов, торговых и спортивных центров, офисных зданий.</p>
        </div>
      </div>
      <div class="medium-6 cell">
        <div class="li-li-footer__mid">
            <h5 class="li-footer__title">Продукция и услуги</h5>
            <div class="grid-x">
              <div class="medium-6 cell">
                <ul class="li-footer__list">
                  <li class="li-footer__list-item"><a class="li-footer__list-link " href="./skladi-logistika.html">Склады и логистика</a></li>
                  <li class="li-footer__list-item"><a class="li-footer__list-link " href="./prom.html">Производственные здания</a></li>
                  <li class="li-footer__list-item"><a class="li-footer__list-link " href="./commercial.html">Торговые и админ здания</a></li>
                  <li class="li-footer__list-item"><a class="li-footer__list-link " href="./med-sport.html">Медицина, спорт, базы отдыха</a></li>
                </ul>
              </div>
              <div class="medium-6 cell">
                <ul class="li-footer__list">
                  <li class="li-footer__list-item"><a class="li-footer__list-link " href="./sh.html">С/Х здания, зернокомплексы</a></li>
                  <li class="li-footer__list-item"><a class="li-footer__list-link " href="./objects.html">Объекты</a></li>
                  <li class="li-footer__list-item"><a class="li-footer__list-link " href="./sh-tehnika.html">Сельхозтехника</a></li>
                  <li class="li-footer__list-item"><a class="li-footer__list-link " href="./contacts.html">Контакты</a></li>
                </ul>
              </div>
            </div>
        </div>
      </div>
      <div class="medium-3 cell">
        <div class="li-footer__right">
          <h5 class="li-footer__title">Контакты</h5>
          <ul class="li-footer__list">
            <li class="li-footer__list-item li-footer__list-item--contact"><span class="li-footer__icon icon-iphone"></span>8 800 2500 000</li>
            <li class="li-footer__list-item li-footer__list-item--contact"><span class="li-footer__icon icon-envelope"></span>stalstroi@gmail.com</li>
            <li class="li-footer__list-item li-footer__list-item--contact"><span class="li-footer__icon icon-map-marker"></span>Москва, ул. Ленина, оф. 312</li>
            <li class="li-footer__list-item li-footer__list-item--contact"><span class="li-footer__icon icon-clock2"></span>Пн — Пт: 9.00 - 18.00</li>
          </ul>
        </div>
      </div>
      <div class="medium-12 cell">
        <p class="li-footer__copyright ct">Стальстрой | Все права защищены 2018</p>
      </div>
    </div>
  </div>
</footer>
