<div class="gallery">
      <img class="gallery__img" id="main-image" src="assets/img/img__hor__01.jpg" alt="">
      <ul class="gallery__menu">
            <li class="gallery__item">
                  <a class="gallery__link" data-image="assets/img/img__hor__01.jpg">
                        <img class="gallery__thumb" src="assets/img/img__hor__01.jpg" alt="">
                  </a>
             </li>
            <li class="gallery__item">
                  <a class="gallery__link" data-image="assets/img/img__hor__02.jpg">
                        <img class="gallery__thumb" src="assets/img/img__hor__02.jpg" alt="">
                  </a>
             </li>
            <li class="gallery__item">
                   <a class="gallery__link" data-image="assets/img/img__hor__03.jpg">
                         <img class="gallery__thumb" src="assets/img/img__hor__03.jpg" alt="">
                   </a>
              </li>
      </ul>
</div>
