<div class="gallery">
  <img class="gallery__img" id="main-image" src="assets/img/objects/sklad-obj__full01.jpg" alt="">
  <ul class="gallery__menu">
    <li class="gallery__item">
      <a class="gallery__link" data-image="assets/img/objects/sklad-obj__full01.jpg">
        <img class="gallery__thumb" src="assets/img/objects/sklad-obj__full01.jpg" alt="">
      </a>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" data-image="assets/img/objects/sklad-obj__full02.jpg">
        <img class="gallery__thumb" src="assets/img/objects/sklad-obj__full02.jpg" alt="">
      </a>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" data-image="assets/img/objects/sklad-obj__full01.jpg">
        <img class="gallery__thumb" src="assets/img/objects/sklad-obj__full01.jpg" alt="">
      </a>
    </li>
  </ul>
</div>
