<!-- WORKS FOR SIX ITEMS -->
    <div class="large-4 medium-6 small-12 cell">
      <div class="h-showcase">
        <div class="h-showcase__content">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis nemo fugiat libero ad tenetur hic praesentium ullam, deserunt nesciunt pariatur repellat, error architecto quidem excepturi! Labore fuga, ad dolorem! Ad.</p>
        </div>
        <div class="h-showcase__imgbox">
          <div class="h-showcase__divider"></div>
          <img class="h-showcase__img" src="assets/img/img__sqr__01.jpg" alt="">
          <div class="h-showcase__overlay">
            <a class="h-showcase__icon-link" href="#">
              <span class="icon-search h-showcase__icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="large-4 medium-6 small-12 cell">
      <div class="h-showcase">
        <div class="h-showcase__imgbox">
          <div class="h-showcase__divider h-showcase__divider--up"></div>
          <img class="h-showcase__img" src="assets/img/img__sqr__02.jpg" alt="">
          <div class="h-showcase__overlay">
            <a class="h-showcase__icon-link" href="#">
              <span class="icon-search h-showcase__icon"></span>
            </a>
          </div>
        </div>
        <div class="h-showcase__content">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis nemo fugiat libero ad tenetur hic praesentium ullam, deserunt nesciunt pariatur repellat, error architecto quidem excepturi! Labore fuga, ad dolorem! Ad.</p>
        </div>
      </div>
    </div>
    <div class="large-4 medium-6 small-12 cell">
      <div class="h-showcase">
        <div class="h-showcase__content">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis nemo fugiat libero ad tenetur hic praesentium ullam, deserunt nesciunt pariatur repellat, error architecto quidem excepturi! Labore fuga, ad dolorem! Ad.</p>
        </div>
        <div class="h-showcase__imgbox">
          <div class="h-showcase__divider"></div>
          <img class="h-showcase__img" src="assets/img/img__sqr__01.jpg" alt="">
          <div class="h-showcase__overlay">
            <a class="h-showcase__icon-link" href="#">
              <span class="icon-search h-showcase__icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
