<div class="knob-group filters-knob-group">
      <a class="knob is-checked" data-filter=".best">все</a>
      <a class="knob" data-filter=".stroyka">стройка</a>
      <a class="knob" data-filter=".food">еда</a>
      <a class="knob" data-filter=".med">медицина</a>
      <a class="knob" data-filter=".remont">ремонт</a>
</div>

<div class="isogrid">
      <div class="isogrid__item stroyka best">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__01.jpg" alt="">
            </a>
      </div>
      <div class="isogrid__item stroyka">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__02.jpg" alt="">
            </a>
      </div>
      <div class="isogrid__item stroyka">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__03.jpg" alt="">
            </a>
      </div>
      <div class="isogrid__item food best">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__04.jpg" alt="">
            </a>
      </div>
      <div class="isogrid__item food">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__05.jpg" alt="">
            </a>
      </div>
      <div class="isogrid__item food">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__01.jpg" alt="">
            </a>
      </div>
      <div class="isogrid__item med best">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__02.jpg" alt="">
            </a>
      </div>
      <div class="isogrid__item med best">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__03.jpg" alt="">
            </a>
      </div>
      <div class="isogrid__item med best">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__04.jpg" alt="">
            </a>
      </div>
      <div class="isogrid__item remont">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__05.jpg" alt="">
            </a>
      </div>
      <div class="isogrid__item remont">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__01.jpg" alt="">
            </a>
      </div>
      <div class="isogrid__item remont best">
            <a class="isogrid__link">
                  <img class="isogrid__thumb" src="assets/img/img__hor__02.jpg" alt="">
            </a>
      </div>
</div>
