<section class="lightbox-area">
      <div class="grid-container">
            <div class="grid-x grid-margin-x grid-margin-y">
                  <div class="medium-4 cell">
                        <a href="assets/img/img__hor__01.jpg"   data-rel="lightcase:myCollection">
                              <img src="assets/img/img__hor__01.jpg" alt="" />
                        </a>
                  </div>
                  <div class="medium-4 cell">
                        <a href="assets/img/img__hor__02.jpg"  data-rel="lightcase:myCollection">
                              <img src="assets/img/img__hor__02.jpg" alt="" />
                        </a>
                  </div>
                  <div class="medium-4 cell">
                        <a href="assets/img/img__hor__03.jpg"  data-rel="lightcase:myCollection">
                              <img src="assets/img/img__hor__03.jpg" alt="" />
                        </a>
                  </div>
            </div>
      </div>
</section>
