
<section class="showcase-area">
      <div class="grid-container">
            <div class="grid-x">
                  <div class="large-6 medium-12 cell">
                        <div class="showcase">
                              <div class="showcase__img-holder">
                                    <img class="showcase__img" src="assets/img/img__sqr__01.jpg" alt="">
                              </div>
                              <div class="showcase__details">
                                    <h3 class="showcase__title showcase__title">Тамбов Логистик</h3>
                                    <span>Тамбов, 1200 м2</span>
                              </div>
                              <a  class="showcase__link" href="assets/img/img__sqr__01.jpg" data-rel="lightcase:showcase" title="Hear nothing, See nothing, Say nothing."><span class="showcase__icon icon-eye2"></span></a>
                        </div>
                  </div>
                  <div class="large-6 medium-12 cell">
                        <div class="grid-x">
                                    <div class="medium-6 cell">
                                          <div class="showcase">
                                                <div class="showcase__img-holder">
                                                      <img class="showcase__img" src="assets/img/img__sqr__02.jpg" alt="">
                                                </div>
                                                <div class="showcase__details">
                                                      <h3 class="showcase__title">Бескаркасный ангар</h3>
                                                      <span>Саратов, 800 м2</span>
                                                </div>
                                                <a  class="showcase__link" href="assets/img/img__sqr__02.jpg" title="Бескаркасный ангар. Тула, 800 м2" data-rel="lightcase:showcase"><span class="showcase__icon icon-eye2"></span></a>
                                          </div>
                                    </div>
                                    <div class="medium-6 cell">
                                          <div class="showcase">
                                                <div class="showcase__img-holder">
                                                      <img class="showcase__img" src="assets/img/img__sqr__03.jpg" alt="">
                                                </div>
                                                <div class="showcase__details">
                                                      <h3 class="showcase__title">Аптека</h3>
                                                      <span>Тамбов, 400 м2</span>
                                                </div>
                                                <a  class="showcase__link" href="assets/img/img__sqr__03.jpg" data-rel="lightcase:showcase"><span class="showcase__icon icon-eye2"></span></a>
                                          </div>
                                    </div>
                              </div>
                              <div class="grid-x">
                                    <div class="medium-6 cell">
                                          <div class="showcase">
                                                <div class="showcase__img-holder">
                                                      <img class="showcase__img" src="assets/img/img__sqr__04.jpg" alt="">
                                                </div>
                                                <div class="showcase__details">
                                                      <h3 class="showcase__title">ЗАВ</h3>
                                                      <span>Никитино</span>
                                                </div>
                                                <a  class="showcase__link" href="assets/img/img__sqr__04.jpg"  data-rel="lightcase:showcase"><span class="showcase__icon icon-eye2"></span></a>
                                          </div>
                                    </div>
                                    <div class="medium-6 cell">
                                          <div class="showcase">
                                                <div class="showcase__img-holder">
                                                      <img class="showcase__img" src="assets/img/img__sqr__05.jpg" alt="">
                                                </div>
                                                <div class="showcase__details">
                                                      <h3 class="showcase__title">Каркасный ангар</h3>
                                                      <span>Воронцовка, 500 м2</span>
                                                </div>
                                                <a  class="showcase__link" href="assets/img/img__sqr__05.jpg"   data-rel="lightcase:showcase"><span class="showcase__icon icon-eye2"></span></a>
                                          </div>
                                    </div>
                              </div>
                  </div>
            </div>
      </div>
</section>
