{{#ifequal type 'sklad'}}
<div class="slick-gallery">
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/sklad-obj__full01.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Логистический центр «Тамбов Логистик»</h3>
      <span>Офисные помещения, склад. Тамбов, 1200 м2</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/sklad-obj__full02.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Гипермаркет «Магнит»</h3>
      <span>Тамбов, 1200 м2</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/sklad-obj__full03.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Логистический центр «Тамбов Логистик»</h3>
      <span>Офисные помещения, склад. Тамбов, 1200 м2</span>
    </div>
  </figure>
</div>
<div class="slick-gallery__nav">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/sklad-obj__full01.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/sklad-obj__full02.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/sklad-obj__full03.jpg" alt="">
</div>
{{/ifequal}}

{{#ifequal type 'prom'}}
<div class="slick-gallery">
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/prom-obj__full02.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Логистический центр «Тамбов Логистик»</h3>
      <span>Офисные помещения, склад. Тамбов, 1200 м2</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/prom-obj__full01.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Гипермаркет «Магнит»</h3>
      <span>Тамбов, 1200 м2</span>
    </div>
  </figure>
</div>
<div class="slick-gallery__nav">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/prom-obj__full02.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/prom-obj__full01.jpg" alt="">
</div>
{{/ifequal}}


{{#ifequal type 'com'}}
<div class="slick-gallery">
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/com-obj__full03.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Логистический центр «Тамбов Логистик»</h3>
      <span>Офисные помещения, склад. Тамбов, 1200 м2</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/com-obj__full02.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Гипермаркет «Магнит»</h3>
      <span>Тамбов, 1200 м2</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/com-obj__full01.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Логистический центр «Тамбов Логистик»</h3>
      <span>Офисные помещения, склад. Тамбов, 1200 м2</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/com-obj__full04.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Семейный гипермаркет «Магнит»</h3>
      <span>Офисные помещения, склад. Тамбов, 1200 м2</span>
    </div>
  </figure>
</div>
<div class="slick-gallery__nav">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/com-obj__full03.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/com-obj__full02.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/com-obj__full01.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/com-obj__full04.jpg" alt="">
</div>
{{/ifequal}}


{{#ifequal type 'med'}}
<div class="slick-gallery">
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/med-obj__full01.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Перинатальный центр</h3>
      <span>Офисные помещения, склад. Тамбов, 1200 м2</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/med-obj__full02.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">«Надежда фарм»</h3>
      <span>Тамбов, 1200 м2</span>
    </div>
  </figure>
</div>
<div class="slick-gallery__nav">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/med-obj__full01.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/med-obj__full02.jpg" alt="">
</div>
{{/ifequal}}


{{#ifequal type 'sh'}}
<div class="slick-gallery">
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/sh-obj__full01.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">ЗАВ</h3>
      <span>Тамбов, 1200 м2</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/sh-obj__full02.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Бескаркасные ангары</h3>
      <span>Тамбов, 1200 м2</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/sh-obj__full03.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Реконструкция ЗАВы</h3>
      <span>Тамбов, 1200 м2</span>
    </div>
  </figure>
</div>
<div class="slick-gallery__nav">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/sh-obj__full01.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/sh-obj__full02.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/sh-obj__full03.jpg" alt="">
</div>
{{/ifequal}}


{{#ifequal type 'doma'}}
<div class="slick-gallery">
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/dom-obj__full01.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Многоквартирный коттедж</h3>
      <span>Тамбов, 1200 м2</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/objects/dom-obj__full02.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Многоквартирный коттедж</h3>
      <span>Тамбов, 1200 м2</span>
    </div>
  </figure>
</div>
<div class="slick-gallery__nav">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/dom-obj__full01.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/objects/dom-obj__full02.jpg" alt="">
</div>
{{/ifequal}}


{{#ifequal type 'borona'}}
<div class="slick-gallery">
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/tech/borona__full01.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Зубовая борона «Молот»</h3>
      <span>В работе</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/tech/borona__full02.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Зубовая борона «Молот»</h3>
      <span>В работе</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/tech/borona__full03.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Зубовая борона «Молот»</h3>
      <span>Транспортировка</span>
    </div>
  </figure>
</div>
<div class="slick-gallery__nav">
  <img class="slick-gallery__img-thumb" src="assets/img/tech/borona__full01.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/tech/borona__full02.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/tech/borona__full03.jpg" alt="">
</div>
{{/ifequal}}


{{#ifequal type 'katok'}}
<div class="slick-gallery">
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/tech/katok__full01.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Каток «Молот»</h3>
      <span>В работе</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/tech/katok__full02.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Каток «Молот»</h3>
      <span>В работе</span>
    </div>
  </figure>
  <figure class="slick-gallery__item">
    <img class="slick-gallery__img" src="assets/img/tech/katok__full03.jpg" alt="">
    <div class="slick-gallery__details">
      <h3 class="slick-gallery__title">Каток «Молот»</h3>
      <span>Транспортировка</span>
    </div>
  </figure>
</div>
<div class="slick-gallery__nav">
  <img class="slick-gallery__img-thumb" src="assets/img/tech/katok__full01.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/tech/katok__full02.jpg" alt="">
  <img class="slick-gallery__img-thumb" src="assets/img/tech/katok__full03.jpg" alt="">
</div>
{{/ifequal}}
