@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?sxol64');
  src: url('../fonts/icomoon.eot?sxol64#iefix') format("embedded-opentype"), url('../fonts/icomoon.ttf?sxol64') format("truetype"), url('../fonts/icomoon.woff?sxol64') format("woff"), url('../fonts/icomoon.svg?sxol64#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-oplata:before {
  content: "\e900";
}
.icon-dom:before {
  content: "\e901";
}

.icon-russia:before {
  content: "\e90e";
}
.icon-sport:before {
  content: "\e90b";
}
.icon-commercial:before {
  content: "\e90d";
}
.icon-logist:before {
  content: "\e923";
}
.icon-industry:before {
  content: "\e924";
}
.icon-springs:before {
  content: "\e925";
}
.icon-samovivoz:before {
  content: "\e911";
}
.icon-fundament:before {
  content: "\e90f";
}
.icon-box2:before {
  content: "\e9b3";
}
.icon-write:before {
  content: "\e9b5";
}
.icon-clock2:before {
  content: "\e9b6";
}
.icon-reply:before {
  content: "\e9b7";
}
.icon-reply-all:before {
  content: "\e9b8";
}
.icon-forward:before {
  content: "\e9b9";
}
.icon-flag:before {
  content: "\e9ba";
}
.icon-search:before {
  content: "\e9bb";
}
.icon-trash:before {
  content: "\e9bc";
}
.icon-envelope:before {
  content: "\e9be";
}
.icon-bubble:before {
  content: "\e9bf";
}
.icon-bubbles:before {
  content: "\e9c0";
}
.icon-user2:before {
  content: "\e9c1";
}
.icon-users:before {
  content: "\e9c2";
}
.icon-cloud2:before {
  content: "\e9c3";
}
.icon-download2:before {
  content: "\e9c4";
}
.icon-upload2:before {
  content: "\e9c5";
}
.icon-rain2:before {
  content: "\e9c6";
}
.icon-sun:before {
  content: "\e9c7";
}
.icon-moon:before {
  content: "\e9c8";
}
.icon-bell:before {
  content: "\e9c9";
}
.icon-folder:before {
  content: "\e9ca";
}
.icon-pin2:before {
  content: "\e9cc";
}
.icon-sound:before {
  content: "\e9cd";
}
.icon-microphone2:before {
  content: "\e9f3";
}
.icon-camera2:before {
  content: "\e9f4";
}
.icon-image2:before {
  content: "\e9f5";
}
.icon-cog2:before {
  content: "\e9f2";
}
.icon-calendar2:before {
  content: "\e9cf";
}
.icon-book2:before {
  content: "\e9d0";
}
.icon-map-marker:before {
  content: "\e9d1";
}
.icon-store:before {
  content: "\e9d2";
}
.icon-support:before {
  content: "\e9d3";
}
.icon-tag:before {
  content: "\e9d4";
}
.icon-heart:before {
  content: "\e9d5";
}
.icon-video-camera:before {
  content: "\e9d6";
}
.icon-trophy:before {
  content: "\e9da";
}
.icon-cart:before {
  content: "\e9db";
}
.icon-eye2:before {
  content: "\e9dc";
}
.icon-cancel:before {
  content: "\e9dd";
}
.icon-chart2:before {
  content: "\e9de";
}
.icon-target2:before {
  content: "\e9df";
}
.icon-printer:before {
  content: "\e9e0";
}
.icon-location:before {
  content: "\e9e1";
}
.icon-bookmark:before {
  content: "\e9e2";
}
.icon-monitor:before {
  content: "\e9e3";
}
.icon-cross2:before {
  content: "\e9e4";
}
.icon-plus2:before {
  content: "\e9e5";
}
.icon-left:before {
  content: "\e9e6";
}
.icon-up:before {
  content: "\e9e7";
}
.icon-browser:before {
  content: "\e9e8";
}
.icon-windows:before {
  content: "\e9e9";
}
.icon-switch:before {
  content: "\e9ea";
}
.icon-dashboard:before {
  content: "\e9ef";
}
.icon-play22:before {
  content: "\e9f0";
}
.icon-fast-forward:before {
  content: "\e9f1";
}
.icon-next:before {
  content: "\e9eb";
}
.icon-refresh:before {
  content: "\e9ec";
}
.icon-film:before {
  content: "\e9ed";
}
.icon-home2:before {
  content: "\e9ee";
}
.icon-control:before {
  content: "\e9ad";
}
.icon-dilivery:before {
  content: "\e9ae";
}
.icon-key:before {
  content: "\e9af";
}
.icon-manufacture:before {
  content: "\e9b0";
}
.icon-project:before {
  content: "\e9b1";
}
.icon-save-time:before {
  content: "\e9b2";
}
.icon-x:before {
  content: "\e90c";
}
.icon-iphone:before {
  content: "\e965";
}
.icon-box:before {
  content: "\e96b";
}
.icon-layers:before {
  content: "\e987";
}
.icon-phone:before {
  content: "\e942";
}
.icon-bubbles2:before {
  content: "\e96c";
}
.icon-search2:before {
  content: "\e986";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-vk:before {
  content: "\ea98";
}
