$section-margin: 3em;
$section-padding: 3em 0;
$global-box-shadow: -1px 10px 33px -5px rgba($black, 0.31);


body {
  // height: 100%;
  // fix for blocky-slider
  // overflow-x: hidden;
}



.is-stuck {
  border-bottom: 1px solid $light-gray;
  box-shadow: $global-box-shadow;
}

.small {
  color: $medium-gray;
  display: block;
  margin-top: 2em;
}


.divider {
      margin: 4em 0;
      border-bottom: 1px solid $light-gray;
}


.section {
      margin-bottom: $section-margin;

      &--first {

      }
}

.techinfo-section {
  margin: 0;
  padding: 3em 0;
}

.nota-bene-setcion {
  background: $light-gray;
  padding: 3em 0;
}

.contact-section {
  padding: 3em 0;
}

.building-type {
  background: $light-gray;
  padding: 3em 0;
}


.section-features {
  background: $light-gray;
  padding: 3em 0;
}




// SHAME SHAME SHAME


// partners



.partner__img {
      width: 100%;
      height: auto;
      padding: 2em 0;
}

.partner__title {
      padding-left: 1em;
}




// free quote form
.request-form {
  box-shadow: none;
  padding: 3em;
}

.quote-form {
  box-shadow: $global-box-shadow;
  padding: 3em;

  &--modal {
    box-shadow: none;
  }
}

.tabs-panel {
  margin: 0;
  padding: 0;
}

// primary list

.primary-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    line-height: $global-lineheight * 1.4;
    display: flex;
    align-items: center;

    &::before {
      font-family: 'icomoon';
      content: "\e9e6";
      transform: rotate(180deg);
      color: $primary-color;
      padding-left: 0.5em;
    }
  }

  &__icon {

  }

}



// nota-bene

.nota-bene {
  padding: 2em;
  border-left: 4px solid $secondary-color;
}

// loader

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid $light-gray;
  border-top: 10px solid $primary-color;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  animation: spin 1s infinite linear;

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50px;
    height: 50px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

#overlay {
  height: 100%;
  width: 100%;
  background: rgba($white, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 9999;
}

.no-js #overlay  {
  display: none;
}
