<ul class="vertical menu accordion-menu" data-accordion-menu>
  <li>
    <a href="#">Детская офтальмология</a>
    <ul class="menu vertical nested">
                  <li><a href="#">Центр семейной офтальмологии</a></li>
                  <li><a href="#">Алгоритм детского лечения</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Услуги</a>
    <ul class="menu vertical nested">
            <li><a href="#">Аппаратное лечение</a></li>
            <li><a href="#">Контактная коррекция зрения</a></li>
            <li><a href="#">Консеравативное лечение</a></li>
            <li><a href="#">Осмотр беременных</a></li>
    </ul>
  </li>
  <li><a href="#">Заболевания глаз</a></li>
  <li><a href="#">Специалисты</a></li>
</ul>
