{{#ifequal type 'burger--offcanvas'}}
<div class="burger">
      <div class="burger__inner hide-for-large"  data-toggle="off-canvas">
                  <span class="burger__icon icon-menu"></span>
      </div>
</div>
{{/ifequal}}


{{#ifequal type 'burger--offcanvas'}}
<div class="burger">
      <div class="burger__inner hide-for-large"  data-toggle="off-canvas">
                  <span class="burger__icon icon-menu"></span>
      </div>
</div>
{{/ifequal}}



<!-- OFFCANVAS MENU -->

<div class="off-canvas position-left" id="off-canvas" data-off-canvas data-closable="slide-out-left">

</div>



<div class="burger" data-responsive-toggle="primary-menu" data-hide-for="medium">
      <div class="burger__inner" data-toggle="primary-menu">
            <span class="burger__icon icon-menu"></span>
      </div>
</div>
