<!-- DDNAV ORIGIN -->
<!-- <div class="ddnav ddnav--right" id="ddnav">
      <ul class="ddnav__list ddnav__list--right dropdown vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown" data-auto-height="true" data-animate-height="true">
            <li class="ddnav__item ddnav__item--parent">
                  <a class="ddnav__link" href="#">Lorem ipsum</a>
                  <ul class="menu vertical nested">
                        <li class="ddnav__item ddnav__item--child"><a  class="ddnav__link  ddnav__link--child"  href="#">Democritum constituto</a></li>
                        <li class="ddnav__item ddnav__item--child"><a  class="ddnav__link  ddnav__link--child"  href="#">Ex vitae</a></li>
                        <li class="ddnav__item ddnav__item--child"><a  class="ddnav__link  ddnav__link--child"  href="#">Volumus torquato</a></li>
                  </ul>
            </li>
            <li class="ddnav__item"><a  class="ddnav__link"  href="#">Laboramus</a></li>
            <li class="ddnav__item"><a  class="ddnav__link"  href="#">Instructior</a></li>
            <li class="ddnav__item"><a class="ddnav__link"  href="#">Disputationi</a></li>
      </ul>
</div> -->


<header class="ddnav-header">
  <div class="grid-x">
    <div class="medium-2 small-12 cell">
      <div class="ddnav__mobile-wrp">
        {{> logo type='logo'}}
        <div class="ddnav-burger" data-responsive-toggle="ddnav">
          <button class="ddnav-burger__inner hide-for-medium" type="button" data-toggle>
              <span class="ddnav-burger__icon icon-menu"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="medium-10 cell">
      <div class="ddnav ddnav--right" id="ddnav">
            <ul class="ddnav__list ddnav__list--right dropdown vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown" data-auto-height="true" data-animate-height="true">
                  <li class="ddnav__item ddnav__item--parent">
                        <a class="ddnav__link" href="#">Lorem ipsum</a>
                        <ul class="menu vertical nested">
                              <li class="ddnav__item ddnav__item--child"><a  class="ddnav__link  ddnav__link--child"  href="#">Democritum constituto</a></li>
                              <li class="ddnav__item ddnav__item--child"><a  class="ddnav__link  ddnav__link--child"  href="#">Ex vitae</a></li>
                              <li class="ddnav__item ddnav__item--child"><a  class="ddnav__link  ddnav__link--child"  href="#">Volumus torquato</a></li>
                        </ul>
                  </li>
                  <li class="ddnav__item"><a  class="ddnav__link"  href="#">Laboramus</a></li>
                  <li class="ddnav__item"><a  class="ddnav__link"  href="#">Instructior</a></li>
                  <li class="ddnav__item"><a class="ddnav__link"  href="#">Disputationi</a></li>
            </ul>
      </div>
    </div>
  </div>
</header>
