<!-- DNAV ORIGIN -->
<!-- <ul id="dnav" class="dnav menu" data-responsive-menu="accordion medium-dropdown" data-auto-height="true" data-animate-height="true">
  <li class="dnav__item"><a class="dnav__link" href="">Home</a></li>
  <li class="dnav__item">
    <a class="dnav__link" href="#">Services</a>
    <ul class="menu">
      <li class="dnav__item"><a class="dnav__sublink" href="#">Felatio</a></li>
      <li class="dnav__item"><a class="dnav__sublink" href="#">Creamy Felatio</a></li>
    </ul>
  </li>
  <li class="dnav__item"><a class="dnav__link"  href="">Process</a></li>
  <li class="dnav__item"><a class="dnav__link"  href="">Porfolio</a></li>
</ul> -->


{{#ifequal type 'dnav'}}
<header class="dnav-header">
  <div class="grid-x">
    <div class="medium-2 small-12 cell">
      <div class="dnav__wrp">
        {{> logo type='logo'}}
        <div class="dnav-burger" data-responsive-toggle="dnav">
          <button class="dnav-burger__inner hide-for-medium" type="button" data-toggle>
              <span class="dnav-burger__icon icon-menu"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="medium-10 cell">
      <!-- DNAV ORIGIN -->
      <ul id="dnav" class="dnav menu" data-responsive-menu="accordion medium-dropdown" data-auto-height="true" data-animate-height="true">
        <li class="dnav__item"><a class="dnav__link" href="">Home</a></li>
        <li class="dnav__item">
          <a class="dnav__link" href="#">Services</a>
          <ul class="menu">
            <li class="dnav__item"><a class="dnav__sublink" href="#">Felatio</a></li>
            <li class="dnav__item"><a class="dnav__sublink" href="#">Creamy Felatio</a></li>
          </ul>
        </li>
        <li class="dnav__item"><a class="dnav__link"  href="">Process</a></li>
        <li class="dnav__item"><a class="dnav__link"  href="">Porfolio</a></li>
      </ul>
    </div>
  </div>
</header>
{{/ifequal}}


{{#ifequal type 'dnav--overlay'}}
<header class="dnav-header">
  <div class="grid-x">
    <div class="medium-2 small-12 cell">
      <div class="dnav__wrp">
        {{> logo type='logo'}}
        <div class="dnav-burger" data-responsive-toggle="dnav">
          <button class="dnav-burger__inner hide-for-medium" type="button" data-toggle>
              <span class="dnav-burger__icon icon-menu"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="medium-10 cell">
      <!-- DNAV ORIGIN -->
      <ul id="dnav" class="dnav dnav--overlay menu" data-responsive-menu="accordion medium-dropdown" data-auto-height="true" data-animate-height="true">
        <li class="dnav__item"><a class="dnav__link" href="">Home</a></li>
        <li class="dnav__item">
          <a class="dnav__link" href="#">Services</a>
          <ul class="menu">
            <li class="dnav__item"><a class="dnav__sublink" href="#">Felatio</a></li>
            <li class="dnav__item"><a class="dnav__sublink" href="#">Creamy Felatio</a></li>
          </ul>
        </li>
        <li class="dnav__item"><a class="dnav__link"  href="">Process</a></li>
        <li class="dnav__item"><a class="dnav__link"  href="">Porfolio</a></li>
      </ul>
    </div>
  </div>
</header>
{{/ifequal}}
