<!-- button -->
<div class="dnav-oc-burger hide-for-medium">
  <div class="dnav-oc-burger__inner" data-toggle="dnav-oc-canvas">
        <span class="dnav-oc-burger__icon icon-menu"></span>
  </div>
</div>

<!-- dnav-oc -->

<header class="dnav-oc__header show-for-medium">
  <div class="grid-container">
    <div class="grid-x">
      <div class="medium-12 cell">
        <!-- dnav-oc ORIGIN -->
        <div class="dnav-oc__nav">
          <ul id="dnav-oc" class="dnav-oc menu" data-responsive-menu="accordion medium-dropdown" data-auto-height="true" data-animate-height="true">
            <li class="dnav-oc__item"><a class="dnav-oc__link" href="">Главная</a></li>
            <li class="dnav-oc__item">
              <a class="dnav-oc__link" href="#">Услуги</a>
              <ul class="menu">
                <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="#">Felatio</a></li>
                <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="#">Creamy Felatio</a></li>
              </ul>
            </li>
            <li class="dnav-oc__item"><a class="dnav-oc__link"  href="">О компании</a></li>
            <li class="dnav-oc__item"><a class="dnav-oc__link"  href="">Акции</a></li>
            <li class="dnav-oc__item"><a class="dnav-oc__link"  href="">Отзывы о нас</a></li>
            <li class="dnav-oc__item"><a class="dnav-oc__link"  href="">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- off-canvas -->

<div class="off-canvas position-left" id="dnav-oc-canvas" data-off-canvas data-transition="overlap">
  <!-- close button -->
  <button class="dnav-oc__closebtn" aria-label="Close menu" type="button" data-close>
    <span class="icon-cross2"></span>
  </button>
  <div class="dnav-oc__nav">
    <ul id="dnav-oc" class="dnav-oc menu accordion-menu"  data-accordion-menu>
      <li class="dnav-oc__item"><a class="dnav-oc__link" href="">Главная</a></li>
      <li class="dnav-oc__item">
        <a class="dnav-oc__link" href="#">Услуги</a>
        <ul class="menu">
          <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="#">Felatio</a></li>
          <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="#">Creamy Felatio</a></li>
        </ul>
      </li>
      <li class="dnav-oc__item"><a class="dnav-oc__link"  href="">О компании</a></li>
      <li class="dnav-oc__item"><a class="dnav-oc__link"  href="">Акции</a></li>
      <li class="dnav-oc__item"><a class="dnav-oc__link"  href="">Отзывы о нас</a></li>
      <li class="dnav-oc__item"><a class="dnav-oc__link"  href="">Контакты</a></li>
    </ul>
  </div>
</div>
