<!-- dnav-oc -->

<header class="dnav-oc__header">
  <div class="grid-x">
    <div class="large-2 cell">
      <div class="dnav-oc__logo">
        <a class="logo" href="./index.html">
          <img class="logo__img" src="assets/img/logo.png" alt="">
        </a>
        <!-- button -->
        <div class="dnav-oc-burger hide-for-large">
          <div class="dnav-oc-burger__inner" data-toggle="dnav-oc-canvas">
              <span class="dnav-oc-burger__icon icon-menu"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="large-10 cell">
      <div class="dnav-oc__nav">
        <ul id="dnav-oc" class="dnav-oc menu show-for-large" data-responsive-menu="medium-dropdown" data-auto-height="true" data-animate-height="true">
          <li class="dnav-oc__item">
            <a class="dnav-oc__link" href="#"><span class="dnav-oc__parent-icon icon-plus2"></span>Здания</a>
            <ul class="menu">
              <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="./skladi-logistika.html">Склад и логистика</a></li>
              <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="./prom.html">Производственные</a></li>
              <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="./commercial.html">Торговые и административные</a></li>
              <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="./med-sport.html">Медицинские и спортивные</a></li>
              <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="./sh.html">Сельхоз назначения</a></li>
              <li class="dnav-oc__subitem"><a class="dnav-oc__sublink"  href="./doma.html">Дома и котеджи</a></li>
              </ul>
          </li>
          <li class="dnav-oc__item"><a class="dnav-oc__link" href="./objects.html">Объекты</a></li>
          <li class="dnav-oc__item"><a class="dnav-oc__link"  href="./sh-tehnika.html">Сельхозтехника</a></li>
          <li class="dnav-oc__item"><a class="dnav-oc__link"  href="./contacts.html">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>


<!-- off-canvas -->

<div class="off-canvas position-left" id="dnav-oc-canvas" data-off-canvas data-transition="overlap">
  <!-- close button -->
  <!-- <button class="dnav-oc__closebtn" aria-label="Close menu" type="button" data-close>
    <span class="icon-cross2"></span>
  </button> -->
  <div class="dnav-oc__nav">
    <ul id="dnav-oc" class="dnav-oc menu accordion-menu"  data-accordion-menu>
      <li class="dnav-oc__item">
        <a class="dnav-oc__link" href="#"><span class="dnav-oc__parent-icon icon-plus2"></span>Здания</a>
        <ul class="menu">
          <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="./skladi-logistika.html">Склад и логистика</a></li>
          <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="./prom.html">Производственные</a></li>
          <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="./commercial.html">Торговые и административные</a></li>
          <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="./med-sport.html">Медицинские и спортивные</a></li>
          <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="./sh.html">Сельхоз назначения</a></li>
          <li class="dnav-oc__subitem"><a class="dnav-oc__sublink"  href="./doma.html">Дома и котеджи</a></li>
          </ul>
      </li>
      <li class="dnav-oc__item"><a class="dnav-oc__link" href="./objects.html">Объекты</a></li>
      <li class="dnav-oc__item"><a class="dnav-oc__link"  href="./sh-tehnika.html">Сельхозтехника</a></li>
      <li class="dnav-oc__item"><a class="dnav-oc__link"  href="./doma.html">Жилые строения</a></li>
      <li class="dnav-oc__item"><a class="dnav-oc__link"  href="./contacts.html">Контакты</a></li>
    </ul>
  </div>
  <ul class="dnav-oc__list">
    <li class="dnav-oc__list-item dnav-oc__list-item--contact"><span class="dnav-oc__icon icon-envelope"></span>stalstroi@gmail.com</li>
    <li class="dnav-oc__list-item dnav-oc__list-item--contact"><span class="dnav-oc__icon icon-map-marker"></span>Москва, ул. Ленина, оф. 312</li>
    <li class="dnav-oc__list-item dnav-oc__list-item--contact"><span class="dnav-oc__icon icon-box"></span><a class="dnav-oc__list-link" href="./dostavka.html">Оплата и доставка</a></li>
  </ul>
</div>
