<!-- dnav-oc -->

<header class="dnav-oc__header">
  <div class="grid-x">
    <div class="large-12 cell">
      <!-- button -->
      <div class="dnav-oc-burger hide-for-large">
        <div class="dnav-oc-burger__inner" data-toggle="dnav-oc-canvas">
            <span class="dnav-oc-burger__icon icon-menu"></span>
        </div>
      </div>
      <div class="dnav-oc__nav">
        <ul id="dnav-oc" class="dnav-oc menu show-for-large" data-responsive-menu="medium-dropdown" data-auto-height="true" data-animate-height="true">
          <li class="dnav-oc__item"><a class="dnav-oc__link" href="./objects.html">Home</a></li>
          <li class="dnav-oc__item">
            <a class="dnav-oc__link" href="#"><span class="dnav-oc__parent-icon icon-plus2"></span>Services</a>
            <ul class="menu">
              <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="#">Lorem ipsum</a></li>
              <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="#">Dolor sit amet</a></li>
              <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="#">consectetur adipisicing</a></li>
              </ul>
          </li>
          <li class="dnav-oc__item"><a class="dnav-oc__link" href="./objects.html">News</a></li>
          <li class="dnav-oc__item"><a class="dnav-oc__link"  href="./sh-tehnika.html">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>


<!-- off-canvas -->

<div class="off-canvas position-left" id="dnav-oc-canvas" data-off-canvas data-transition="overlap">
  <!-- close button -->
  <!-- <button class="dnav-oc__closebtn" aria-label="Close menu" type="button" data-close>
    <span class="icon-cross2"></span>
  </button> -->
  <div class="dnav-oc__nav">
    <ul id="dnav-oc" class="dnav-oc menu accordion-menu"  data-accordion-menu>
      <li class="dnav-oc__item"><a class="dnav-oc__link" href="./objects.html">Home</a></li>
      <li class="dnav-oc__item">
        <a class="dnav-oc__link" href="#"><span class="dnav-oc__parent-icon icon-plus2"></span>Services</a>
        <ul class="menu">
          <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="#">Lorem ipsum</a></li>
          <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="#">Dolor sit amet</a></li>
          <li class="dnav-oc__subitem"><a class="dnav-oc__sublink" href="#">consectetur adipisicing</a></li>
          </ul>
      </li>
      <li class="dnav-oc__item"><a class="dnav-oc__link" href="./objects.html">News</a></li>
      <li class="dnav-oc__item"><a class="dnav-oc__link"  href="./sh-tehnika.html">Contacts</a></li>
    </ul>
  </div>
</div>
