<!-- FLATNAV ORIGIN -->

<!-- <ul id="flatnav" class="flatnav flatnav--right vertical medium-horizontal menu">
      <li class="flatnav__item">
            <a class="flatnav__link" href="#">Home</a>
      </li>
      <li class="flatnav__item">
            <a class="flatnav__link" href="#">Services</a>
      </li>
      <li class="flatnav__item">
            <a class="flatnav__link" href="#">Process</a>
      </li>
      <li class="flatnav__item flatnav__item--last">
            <a class="flatnav__link"  href="#">Portfolio</a>
      </li>
</ul> -->

<header class="test-header">
  <div class="grid-x">
    <div class="medium-2 small-12 cell">
      <div class="flatnav__mobile-wrp">
        {{> logo type='logo'}}
        <div class="flatnav-burger"  data-responsive-toggle="flatnav">
          <button class="flatnav-burger__inner hide-for-medium"  type="button" data-toggle>
            <span class="flatnav-burger__icon icon-menu"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="medium-10 cell">
      <ul id="flatnav" class="flatnav flatnav--right vertical medium-horizontal menu">
            <li class="flatnav__item">
                  <a class="flatnav__link" href="#">Home</a>
            </li>
            <li class="flatnav__item">
                  <a class="flatnav__link" href="#">Services</a>
            </li>
            <li class="flatnav__item">
                  <a class="flatnav__link" href="#">Process</a>
            </li>
            <li class="flatnav__item flatnav__item--last">
                  <a class="flatnav__link"  href="#">Portfolio</a>
            </li>
      </ul>

    </div>
  </div>
</header>
