<!-- FLATNAV-RVL ORIGIN -->
<!-- <ul id="flatnav-rvl" class="flatnav-rvl flatnav-rvl--right menu  show-for-medium">
      <li class="flatnav-rvl__item">
            <a class="flatnav-rvl__link" href="#">Home</a>
      </li>
      <li class="flatnav-rvl__item">
            <a class="flatnav-rvl__link" href="#">Services</a>
      </li>
      <li class="flatnav-rvl__item">
            <a class="flatnav-rvl__link" href="#">Process</a>
      </li>
      <li class="flatnav-rvl__item">
            <a class="flatnav-rvl__link"  href="#">Portfolio</a>
      </li>
</ul> -->


<header class="test-header">
      <div class="grid-x">
            <div class="medium-2 small-12 cell">
                  <div class="flatnav-rvl__mobile-wrp">
                        {{> logo type='logo'}}
                        <div class="flatnav-rvl-burger" data-toggle="flatnav-rvl__modal">
                          <div class="flatnav-rvl-burger__inner hide-for-medium" data-toggle>
                            <span class="flatnav-rvl-burger__icon icon-menu"></span>
                          </div>
                        </div>
                  </div>
            </div>
            <div class="medium-10 cell">
              <!-- FLATNAV-RVL ORIGIN -->
              <ul id="flatnav-rvl" class="flatnav-rvl flatnav-rvl--right menu  show-for-medium">
                    <li class="flatnav-rvl__item">
                          <a class="flatnav-rvl__link" href="#">Home</a>
                    </li>
                    <li class="flatnav-rvl__item">
                          <a class="flatnav-rvl__link" href="#">Services</a>
                    </li>
                    <li class="flatnav-rvl__item">
                          <a class="flatnav-rvl__link" href="#">Process</a>
                    </li>
                    <li class="flatnav-rvl__item">
                          <a class="flatnav-rvl__link"  href="#">Portfolio</a>
                    </li>
              </ul>

            </div>
      </div>
</header>



<div class="full reveal" id="flatnav-rvl__modal" data-reveal>
      <div class="flatnav-rvl__modal-inner">
            <ul id="flatnav-rvl" class="flatnav-rvl flatnav-rvl--right vertical menu">
                  <li class="flatnav-rvl__item">
                        <a class="flatnav-rvl__link" href="#">Home</a>
                  </li>
                  <li class="flatnav-rvl__item">
                        <a class="flatnav-rvl__link" href="#">Services</a>
                  </li>
                  <li class="flatnav-rvl__item">
                        <a class="flatnav-rvl__link" href="#">Process</a>
                  </li>
                  <li class="flatnav-rvl__item">
                        <a class="flatnav-rvl__link"  href="#">Portfolio</a>
                  </li>
            </ul>
      </div>
</div>
