<div class="off-canvas position-left" id="meganav-canvas" data-off-canvas data-transition="overlay">
  <ul id="mnav" class="mnav mnav--accordion" data-accordion-menu>
    <li class="mnav__item"><a class="mnav__link"  href="">Home</a></li>
    <li class="mnav__item">
      <a class="mnav__link" href="#">Services</a>
      <ul class="mnav">
        <li><a class="mnav__link" href="#">Felatio</a></li>
        <li><a class="mnav__link" href="#">Creamy Felatio</a></li>
      </ul>
    </li>
    <li class="mnav__item"><a class="mnav__link"  href="">Process</a></li>
    <li class="mnav__item"><a class="mnav__link"  href="">Porfolio</a></li>
  </ul>
</div>
