  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="large-4 medium-12 cell">
        <div class="be-card">
          <figure>
            <img class="be-card__img" src="assets/img/img__hor__02.jpg" alt="">
          </figure>
          <div class="be-card__overlay">
            <div class="be-card__titlebox">
              <div class="be-card__iconbox">
                <span class="icon-write be-card__icon"></span>
              </div>
              <h3>Lorem & Ipsum</h3>
            </div>
            <div class="be-card__show">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni magnam labore, cupiditate nemo nobis accusantium commodi facilis, ea perspiciatis enim repellat dolorem dolor, vel a ullam maiores quasi aperiam repellendus.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="large-4 medium-12 cell">
        <div class="be-card">
          <figure>
            <img class="be-card__img" src="assets/img/img__hor__02.jpg" alt="">
          </figure>
          <div class="be-card__overlay">
            <div class="be-card__titlebox">
              <div class="be-card__iconbox">
                <span class="icon-flag be-card__icon"></span>
              </div>
              <h3>Dolor Sitamet</h3>
            </div>
            <div class="be-card__show">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni magnam labore, cupiditate nemo nobis accusantium commodi facilis, ea perspiciatis enim repellat dolorem dolor, vel a ullam maiores quasi aperiam repellendus.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="large-4 medium-12 cell">
        <div class="be-card">
          <figure>
            <img class="be-card__img" src="assets/img/img__hor__02.jpg" alt="">
          </figure>
          <div class="be-card__overlay">
            <div class="be-card__titlebox">
              <div class="be-card__iconbox">
                <span class="icon-flag be-card__icon"></span>
              </div>
              <h3>Dolor Sitamet</h3>
            </div>
            <div class="be-card__show">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni magnam labore, cupiditate nemo nobis accusantium commodi facilis, ea perspiciatis enim repellat dolorem dolor, vel a ullam maiores quasi aperiam repellendus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
