<div class="grid-container">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="large-3 medium-6 small-12 cell">
      <div class="cu-card">
        <div class="cu-card__inner">
          <div class="cu-card__front">
            <img src="assets/img/transparent-object__02.png" alt="">
            <h3>Product Ispum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="cu-card__back">
            <h3>Product Ispum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nobis sapiente, eaque quia impedit? Vel quaerat hic, facilis quia corrupti, delectus maxime neque, voluptate illum sequi at molestiae quam beatae.</p>
            <a class="knob" href="#">More details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 cell">
      <div class="cu-card">
        <div class="cu-card__inner">
          <div class="cu-card__front">
            <img src="assets/img/transparent-object__02.png" alt="">
            <h3>Product Ispum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="cu-card__back">
            <h3>Product Ispum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nobis sapiente, eaque quia impedit? Vel quaerat hic, facilis quia corrupti, delectus maxime neque, voluptate illum sequi at molestiae quam beatae.</p>
            <a class="knob" href="#">More details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 cell">
      <div class="cu-card">
        <div class="cu-card__inner">
          <div class="cu-card__front">
            <img src="assets/img/transparent-object__02.png" alt="">
            <h3>Product Ispum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="cu-card__back">
            <h3>Product Ispum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nobis sapiente, eaque quia impedit? Vel quaerat hic, facilis quia corrupti, delectus maxime neque, voluptate illum sequi at molestiae quam beatae.</p>
            <a class="knob" href="#">More details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 cell">
      <div class="cu-card">
        <div class="cu-card__inner">
          <div class="cu-card__front">
            <img src="assets/img/transparent-object__02.png" alt="">
            <h3>Product Ispum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="cu-card__back">
            <h3>Product Ispum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nobis sapiente, eaque quia impedit? Vel quaerat hic, facilis quia corrupti, delectus maxime neque, voluptate illum sequi at molestiae quam beatae.</p>
            <a class="knob" href="#">More details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
