<div class="grid-container">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="medium-6 small-12 cell">
      <div class="k-card">
        <div class="k-card__inner">
          <img class="k-card__img" src="assets/img/img__hor__02.jpg" alt="">
        </div>
        <div class="k-card__hover">
          <div class="k-card__info">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad velit architecto debitis accusantium, unde ipsam aperiam, natus laudantium totam cum, provident in sequi quas nulla? Tempore sint nulla reiciendis delectus.</p>
            <a class="k-card__link" href="#">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <div class="medium-6 small-12 cell">
      <div class="k-card">
        <div class="k-card__inner">
          <img class="k-card__img" src="assets/img/img__hor__03.jpg" alt="">
        </div>
        <div class="k-card__hover">
          <div class="k-card__info">
            <h3>Dolor Sitamet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad velit architecto debitis accusantium, unde ipsam aperiam, natus laudantium totam cum, provident in sequi quas nulla? Tempore sint nulla reiciendis delectus.</p>
            <a class="k-card__link" href="#">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
