<div class="grid-container">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="large-3 medium-6 small-12 cell">
      <div class="mg-card">
        <div class="mg-card__inner">
          <div class="mg-card__header">
            <div class="mg-card__iconbox">
              <span class="mg-card__icon icon-manufacture"></span>
            </div>
            <h3 class="mg-card__title">Промышленное помещение</h3>
          </div>
          <span class="mg-card__arrow icon-arrow-right"></span>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 cell">
      <div class="mg-card">
        <div class="mg-card__inner">
          <div class="mg-card__header">
            <div class="mg-card__iconbox">
              <span class="mg-card__icon icon-manufacture"></span>
            </div>
            <h3 class="mg-card__title">Производственное помещение</h3>
          </div>
          <span class="mg-card__arrow icon-arrow-right"></span>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 cell">
      <div class="mg-card">
        <div class="mg-card__inner">
          <div class="mg-card__header">
            <div class="mg-card__iconbox">
              <span class="mg-card__icon icon-manufacture"></span>
            </div>
            <h3 class="mg-card__title">Помещение сельхоз назначения</h3>
          </div>
          <span class="mg-card__arrow icon-arrow-right"></span>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 cell">
      <div class="mg-card">
        <div class="mg-card__inner">
          <div class="mg-card__header">
            <div class="mg-card__iconbox">
              <span class="mg-card__icon icon-manufacture"></span>
            </div>
            <h3 class="mg-card__title">Зерновые комплексы (ЗАВы, элеваторы)</h3>
          </div>
          <span class="mg-card__arrow icon-arrow-right"></span>
        </div>
      </div>
    </div>
  </div>
</div>
