<div class="grid-container">
  <div class="grid-x">
    <div class="medium-3 cell">
      <div class="mg-card">
        <div class="mg-card__inner">
          <div class="mg-card__header">
            <div class="mg-card__iconbox">
              <span class="mg-card__icon icon-manufacture"></span>
            </div>
            <h3 class="mg-card__title">Промышленное помещение</h3>
          </div>
          <span class="icon-arrow-right"></span>
        </div>
      </div>
    </div>
  </div>
</div>
