<div class="grid-container">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="large-6 medium-12 cell">
      <div class="na-card">
        <div class="na-card__inner">
          <div class="na-card__iconbox">
            <span class="na-card__icon icon-flag"></span>
          </div>
          <div class="na-card__content">
            <h3 class="na-card__title">Mobile App</h3>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to additional click throughs from DevOps.
            </p>
          </div>
        </div>
        <a href="#" class="na-card__more-link">
          <div class="na-card__more">
            <span class="na-card__more-icon icon-plus2"></span>
          </div>
        </a>
      </div>
    </div>
    <div class="large-6 medium-12 cell">
      <div class="na-card">
        <div class="na-card__inner">
          <div class="na-card__iconbox">
            <span class="na-card__icon icon-store"></span>
          </div>
          <div class="na-card__content">
            <h3 class="na-card__title">No Hidden Fees</h3>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to additional click throughs from DevOps.
            </p>
          </div>
        </div>
        <a href="#" class="na-card__more-link">
          <div class="na-card__more">
            <span class="na-card__more-icon icon-plus2"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
