<div class="grid-container">
  <div class="vert-timeline">
      <div data-vtdate="Февраль 2018">
        <img src="assets/img/img__sqr__02.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis dolore veritatis corrupti optio perferendis similique consequatur at accusantium recusandae atque iure laboriosam nesciunt voluptatum maxime, illum impedit nobis magnam.</p>
      </div>
      <div data-vtdate="Март 2019">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis dolore veritatis corrupti optio perferendis similique consequatur at accusantium recusandae atque iure laboriosam nesciunt voluptatum maxime, illum impedit nobis magnam.</p>
      </div>
      <div data-vtdate="Май 2020">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis dolore veritatis corrupti optio perferendis similique consequatur at accusantium recusandae atque iure laboriosam nesciunt voluptatum maxime, illum impedit nobis magnam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis dolore veritatis corrupti optio perferendis similique consequatur at accusantium recusandae atque iure laboriosam nesciunt voluptatum maxime, illum impedit nobis magnam.</p>
      </div>
  </div>
</div>
