<div class="tabs-area">
      <div class="grid-container">
            <div class="grid-x tabs-wrp ">
                  <div class="medium-12 large-6 cell">

                  <ul class="h-tabs" data-tabs id="h-tabs">
                          <li class="h-tabs__title is-active"><a href="#h-panel1" aria-selected="true"><span class="h-tabs__icon icon-write"></span></a></li>
                          <li class="h-tabs__title"><a href="#h-panel2"><span class="h-tabs__icon icon-flag"></span></a></li>
                          <li class="h-tabs__title"><a href="#h-panel3"><span class="h-tabs__icon icon-bell"></span></a></li>
                  </ul>

                  </div>
                  <div class="medium-12 large-6 cell">
                        <div class="h-tabs__content" data-tabs-content="h-tabs">
                              <div class="h-tabs__panel is-active" id="h-panel1">
                                    <div class="h-tabs__info">
                                          <h1>lorem ipusm</h1>
                                          <p class="h-tabs__text">Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                                    </div>
                                          <img  class="h-tabs__img"  src="assets/img/img__hor__01.jpg" alt="">
                              </div>
                              <div class="h-tabs__panel" id="h-panel2">
                                    <div class="h-tabs__info">
                                          <h1>lasdasdasdasd</h1>
                                          <p class="h-tabs__text">Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                                    </div>
                                          <img  class="h-tabs__img"  src="assets/img/img__hor__02.jpg" alt="">
                              </div>
                              <div class="h-tabs__panel" id="h-panel3">
                                    <div class="h-tabs__info">
                                          <h1>lasdasdasdasd</h1>
                                          <p class="h-tabs__text">Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                                    </div>
                                          <img  class="h-tabs__img"  src="assets/img/img__hor__03.jpg" alt="">
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
