<section class="objects-area">
      <div class="grid-container">
            <div class="grid-x">
                  <div class="medium-12 cell">
                        <ul class="li-tabs" data-tabs id="li-tabs">
                              <li class="li-tabs__item is-active">
                                    <span class="li-tabs__icon icon-write"></span>
                                    <a  class="li-tabs__link" href="#li-panel1" aria-selected="true">Lorem ipsum</a>
                              </li>
                              <li class="li-tabs__item">
                                    <span class="li-tabs__icon icon-flag"></span>
                                    <a  class="li-tabs__link" href="#li-panel2">Dolor sit amet</a>
                              </li>
                              <li class="li-tabs__item li-tabs__item--last">
                                    <span class="li-tabs__icon icon-bell"></span>
                                    <a  class="li-tabs__link"  href="#li-panel3">Fugiat nulla pariatur</a>
                              </li>
                        </ul>
                  </div>
            </div>
            <div class="tabs-content" data-tabs-content="li-tabs">
                  <div class="tabs-panel is-active" id="li-panel1">
                        <div class="grid-x grid-margin-x">
                              <h1>Lorem ipsum dolor sit amet</h1>
                              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                  </div>
                  <div class="tabs-panel" id="li-panel2">
                        <div class="grid-x grid-margin-x">
                              <h1>Dolore eu fugiat nulla</h1>
                              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                  </div>
                  <div class="tabs-panel" id="li-panel3">
                        <div class="grid-x grid-margin-x">
                              <h1>Excepteur sint occaecat </h1>
                              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                  </div>
            </div>

      </div>
</section>
