<section>
<div class="grid-container">
      <div class="grid-x">
            <div class="medium-12 cell">
                        <ul class="na-tabs" data-tabs id="na-tabs">
                              <li class="na-tabs__item is-active"><a href="#na-panel1" class="na-tabs__link" aria-selected="true">Lorem ipsum</a></li>
                              <li class="na-tabs__item"><a href="#na-panel2" class="na-tabs__link">Dolor sit amet</a></li>
                              <li class="na-tabs__item"  class="na-tabs__link" ><a href="#na-panel3" class="na-tabs__link">Fugiat nulla pariatur</a></li>
                        </ul>
                        <div class="na-tabs__content" data-tabs-content="na-tabs">
                              <div class="tabs-panel is-active" id="na-panel1">
                                    <div class="grid-x grid-margin-x">
                                          <h1>Lorem ipsum dolor sit amet</h1>
                                          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                              </div>
                              <div class="tabs-panel" id="na-panel2">
                                    <div class="grid-x grid-margin-x">
                                          <h1>Dolore eu fugiat nulla</h1>
                                          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                              </div>
                              <div class="tabs-panel" id="na-panel3">
                                    <div class="grid-x grid-margin-x">
                                          <h1>Excepteur sint occaecat</h1>
                                          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                              </div>
                  </div>
            </div>
</section>
