      <div class="slider-nav">
            <div class="tabbox">
                  <span class="tabbox__icon  icon-write"></span>
            </div>
            <div class="tabbox">
                  <span class="tabbox__icon icon-flag"></span>
            </div>
            <div class="tabbox">
                  <span class="tabbox__icon  icon-bell"></span>
            </div>
            <div class="tabbox">
                  <span class="tabbox__icon icon-store"></span>
            </div>
            <div class="tabbox">
                  <span class="tabbox__icon icon-dashboard"></span>
            </div>
      </div>
      <div class="slider-for">
            <div>
                  <h3 class="slider-for__title">Lorem ipsum dolor sit amet</h4>
                  <p class="slicktabs__text">Lorem ipsum dolor sit amet, ut erat audire usu. Ius ei laudem nostro, affert aeterno usu ut. Ut sapientem definitiones mediocritatem vis, utroque expetenda ea sit, harum integre ex sit. Vel eu nostro constituam.</p>
            </div>
            <div>
                  <h3 class="slider-for__title">Nonumes suavitate quo at</h4>
                  <p class="slicktabs__text">Nonumes suavitate quo at, usu ei posse novum. Vix ut pertinax indoctum dignissim. Vim et everti timeam inermis, an vis discere invidunt iracundia. Ad atqui dolor praesent mei.</p>
            </div>
            <div>
                  <h3 class="slider-for__title">Qui saepe dictas salutatus et</h4>
                  <p class="slicktabs__text">Qui saepe dictas salutatus et, sit ad justo lorem tractatos. Ex vim nulla semper adipisci, id habeo dignissim pri. Mea eligendi adipisci ex, complectitur conclusionemque ut has. </p>
            </div>
            <div>
                  <h3 class="slider-for__title">Euismod saperet graecis ius ea</h4>
                  <p class="slicktabs__text">Euismod saperet graecis ius ea, an explicari voluptatibus sed. Eos ex ubique democritum, vel te latine urbanitas, aliquam meliore an vel. Audire liberavisse has ei.</p>
            </div>
            <div>
                  <h3 class="slider-for__title">At option platonem mei</h4>
                  <p class="slicktabs__text">At option platonem mei. Elit diceret id nec, an eos oratio gloriatur percipitur. Iusto accusam nominavi in pri. Has mundi populo legimus te, per aliquip mandamus id. Eum et dicta laudem consetetur, oporteat prodesset adolescens at mei.</p>
            </div>
      </div>
