<section>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        <ul class="vert-tabs vertical" data-tabs id="vert-tabs">
          <li class="vert-tabs__item is-active">
            <span class="vert-tabs__icon icon-logist"></span>
            <a href="#na-panel1" class="vert-tabs__link" aria-selected="true">Склад и логистика</a>
          </li>
          <li class="vert-tabs__item">
            <span class="vert-tabs__icon icon-industry"></span>
            <a href="#na-panel2" class="vert-tabs__link">Промышленность</a>
          </li>
          <li class="vert-tabs__item"  class="vert-tabs__link">
            <span class="vert-tabs__icon icon-commercial"></span>
            <a href="#na-panel3" class="vert-tabs__link">Торговля и коммерция</a>
          </li>
          <li class="vert-tabs__item"  class="vert-tabs__link">
            <span class="vert-tabs__icon icon-sport"></span>
            <a href="#na-panel4" class="vert-tabs__link">Медицина, спорт и отдых</a>
          </li>
          <li class="vert-tabs__item"  class="vert-tabs__link">
            <span class="vert-tabs__icon icon-springs"></span>
            <a href="#na-panel5" class="vert-tabs__link">Сельское хозяйство</a>
          </li>
        </ul>
      </div>
      <div class="medium-8 cell">
        <div class="vert-tabs__content" data-tabs-content="vert-tabs">
          <div class="tabs-panel is-active" id="na-panel1">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <img class="vert-tabs__img" src="assets/img/sklad-tabs.jpg" alt="">
              </div>
              <div class="medium-8 cell">
                <h3 class="title">Склады и логистические центры</h3>
                <p>Строительство сборного стального складского здания, без сомнения, является наиболее важным этапом для ваших растущих требований к хранению. Мы предоставляем функции, которые делают планирование и строительство ваших складских зданий безболезненным процессом. Наши гибкие строительные системы - это универсальное решение для объединения офисов, складов и производства под одной крышей.</p>
                <a class="knob" href="#">Расчитать здание</a><a href="#">Узнать подробнее</a>
              </div>
              <div class="medium-4 cell">
                <ul class="primary-list">
                  <li class="primary-list__item">Склады</li>
                  <li class="primary-list__item">Логистические центры</li>
                  <li class="primary-list__item">Ангары</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="na-panel2">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <img class="vert-tabs__img" src="assets/img/industry-tabs.jpg" alt="">
              </div>
              <div class="medium-8 cell">
                <h3 class="title">Заводы, мастерские, цеха</h3>
                <p>Нужно ли вам строить пивоваренный завод, завод или завод; наши решения для промышленных стальных зданий адаптируются к эксплуатационным требованиям в любой отрасли.</p>
                <a class="knob" href="#">Расчитать здание</a><a href="#">Узнать подробнее</a>
              </div>
              <div class="medium-4 cell">
                <ul class="primary-list">
                  <li class="primary-list__item">Заводы</li>
                  <li class="primary-list__item">Цеха</li>
                  <li class="primary-list__item">Автомастерские</li>
                  <li class="primary-list__item">Автомойки</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="na-panel3">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <img class="vert-tabs__img" src="assets/img/trade-tabs.jpg" alt="">
              </div>
              <div class="medium-8 cell">
                <h3 class="title">Торговые, коммерческие, административные здания</h3>
                <p>Для коммерческого здания задача состоит в том, чтобы объединить все ваши потребности под одной крышей. Мы учитываем это, разрабатывая функциональные, прочные, привлекательные и простые в обслуживании стальные конструкции. Наш индивидуальный подход к коммерческим стальным зданиям дает вам полный контроль над планами этажей и стилем.</p>
                <a class="knob" href="#">Расчитать здание</a><a href="#">Узнать подробнее</a>
              </div>
              <div class="medium-4 cell">
                <ul class="primary-list">
                  <li class="primary-list__item">Торговые центры</li>
                  <li class="primary-list__item">Магазины</li>
                  <li class="primary-list__item">Офисы</li>
                  <li class="primary-list__item">Административные здания</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="na-panel4">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <img class="vert-tabs__img" src="assets/img/sport-tabs.jpg" alt="">
              </div>
              <div class="medium-8 cell">
                <h3 class="title">Спортивные комплексы, базы отдыха</h3>
                <p>Принимая в помещении на открытом воздухе, Allied Steel Buildings предлагает вам экономичное решение для нового рекреационного объекта для вашего сообщества, бизнеса или школы. База отдыха - это центр здоровья, благополучия и социализации. </p>
                <a class="knob" href="#">Расчитать здание</a><a href="#">Узнать подробнее</a>
              </div>
              <div class="medium-4 cell">
                <ul class="primary-list">
                  <li class="primary-list__item">Спортивные комплексы</li>
                  <li class="primary-list__item">Базы отдыха</li>
                  <li class="primary-list__item">Мини-отели</li>
                  <li class="primary-list__item">Конюшни</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="na-panel5">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <img class="vert-tabs__img" src="assets/img/sh-tabs.jpg" alt="">
              </div>
              <div class="medium-8 cell">
                <h3 class="title">Сельское хозяйство</h3>
                <p>Принимая в помещении на открытом воздухе, Allied Steel Buildings предлагает вам экономичное решение для нового рекреационного объекта для вашего сообщества, бизнеса или школы. База отдыха - это центр здоровья, благополучия и социализации. </p>
                <a class="knob" href="#">Расчитать здание</a><a href="#">Узнать подробнее</a>
              </div>
              <div class="medium-4 cell">
                <ul class="primary-list">
                  <li class="primary-list__item">Зерновые комплексы</li>
                  <li class="primary-list__item">ЗАВы</li>
                  <li class="primary-list__item">Элеваторы</li>
                  <li class="primary-list__item">Фермы</li>
                  <li class="primary-list__item">Птичники</li>
                  <li class="primary-list__item">Овощехранилища</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
