<section>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="large-4 medium-12 cell">
        <ul class="vert-tabs vertical" data-tabs id="vert-tabs">
          <li class="vert-tabs__item is-active">
            <span class="vert-tabs__icon icon-logist"></span>
            <a href="#na-panel1" class="vert-tabs__link" aria-selected="true">Склад и логистика</a>
          </li>
          <li class="vert-tabs__item">
            <span class="vert-tabs__icon icon-industry"></span>
            <a href="#na-panel2" class="vert-tabs__link">Производство</a>
          </li>
          <li class="vert-tabs__item"  class="vert-tabs__link">
            <span class="vert-tabs__icon icon-commercial"></span>
            <a href="#na-panel3" class="vert-tabs__link">Торговля и коммерция</a>
          </li>
          <li class="vert-tabs__item"  class="vert-tabs__link">
            <span class="vert-tabs__icon icon-sport"></span>
            <a href="#na-panel4" class="vert-tabs__link">Медицина, спорт и отдых</a>
          </li>
          <li class="vert-tabs__item"  class="vert-tabs__link">
            <span class="vert-tabs__icon icon-springs"></span>
            <a href="#na-panel5" class="vert-tabs__link">Сельское хозяйство</a>
          </li>
        </ul>
      </div>
      <div class="large-8 medium-12 cell">
        <div class="vert-tabs__content" data-tabs-content="vert-tabs">
          <div class="tabs-panel is-active" id="na-panel1">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <img class="vert-tabs__img" src="assets/img/sklad-tabs.jpg" alt="">
              </div>
              <div class="medium-8 cell">
                <h3 class="title">Склады и логистические центры</h3>
                <p class="vert-tabs__text">«Стальстрой» изготавливает комплекты быстровозводимых зданий из высокопрочной стали для складов и логистических терминалов. Наши металлоконструкции
дают неограниченные по гибкости возможности, которые делают планирование и строительство ваших складских зданий безболезненным и легким процессом. Небольшой навес или
крупный логистический центр — под любые габариты мы предложим оптимальное решение.Наши гибкие строительные системы - это универсальное решение для объединения офисов, складов и производства под одной крышей.</p>
                <div class="vert-tabs__btns">
                  <a class="knob knob--left knob--tabs" href="#" data-open="mainmodal">Расчитать здание</a>
                  <a class="knob knob--right knob--tabs" href="./skladi-logistika.html">Узнать подробнее</a>
                </div>
              </div>
              <div class="medium-4 cell">
                <ul class="primary-list">
                  <li class="primary-list__item">Склады</li>
                  <li class="primary-list__item">Логистические центры</li>
                  <li class="primary-list__item">Ангары</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="na-panel2">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <img class="vert-tabs__img" src="assets/img/industry-tabs.jpg" alt="">
              </div>
              <div class="medium-8 cell">
                <h3 class="title">Заводы, мастерские, цеха</h3>
                <p class="vert-tabs__text">Цеха, мастерские, автомойки. От небольшого гаража до огромного завода. Наши решения для производственных зданий из металлоконструкций адаптируются
                  к эксплуатационным требованиям в любой отрасли. Мы проектируем металлические здания с учетом ваших потребностей,
                  интегрируя по мере необходимости любые системы. Системы вентиляции, крановые системы, отптимальную теплоизоляцию
                   — это несколько из многих вариантов, которые мы предлагаем для вашего промышленного здания. Для «Стальстрой» не бывает слишком сложных задач.</p>
                 <div class="vert-tabs__btns">
                   <a class="knob knob--left knob--tabs" href="#" data-open="mainmodal">Расчитать здание</a>
                   <a class="knob knob--right knob--tabs" href="./prom.html">Узнать подробнее</a>
                 </div>
              </div>
              <div class="medium-4 cell">
                <ul class="primary-list">
                  <li class="primary-list__item">Заводы</li>
                  <li class="primary-list__item">Цеха</li>
                  <li class="primary-list__item">Автомастерские</li>
                  <li class="primary-list__item">Автомойки</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="na-panel3">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <img class="vert-tabs__img" src="assets/img/trade-tabs.jpg" alt="">
              </div>
              <div class="medium-8 cell">
                <h3 class="title">Торговые, административные здания</h3>
                <p class="vert-tabs__text">Для коммерческого здания задача состоит в том, чтобы объединить все ваши потребности под одной крышей. Мы учитываем это, разрабатывая функциональные, прочные, привлекательные и простые в обслуживании стальные конструкции. Наш индивидуальный подход к коммерческим стальным зданиям дает вам полный контроль над планами этажей и стилем.</p>
                <div class="vert-tabs__btns">
                  <a class="knob knob--left knob--tabs" href="#" data-open="mainmodal">Расчитать здание</a>
                  <a class="knob knob--right knob--tabs" href="./commercial.html">Узнать подробнее</a>
                </div>
              </div>
              <div class="medium-4 cell">
                <ul class="primary-list">
                  <li class="primary-list__item">Торговые центры</li>
                  <li class="primary-list__item">Магазины</li>
                  <li class="primary-list__item">Офисы</li>
                  <li class="primary-list__item">Админ-ые здания</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="na-panel4">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <img class="vert-tabs__img" src="assets/img/sport-tabs.jpg" alt="">
              </div>
              <div class="medium-8 cell">
                <h3 class="title">Спортивные комплексы, базы отдыха</h3>
                <p class="vert-tabs__text">
Благодоря индивидуальному подходу к каждому проекту, к гибкому выбору габаритов здания и возможности сочетать множество строительных материалов, здания от «Стальстрой» — оптимальное решение для строительства
медцентров, спортивных объектов, баз отдыха и мини-отелей. По желанию заказачика, мы готовы предложить строительство «под ключ».</p>
                <div class="vert-tabs__btns">
                  <a class="knob knob--left knob--tabs" href="#" data-open="mainmodal">Расчитать здание</a>
                  <a class="knob knob--right knob--tabs" href="./med-sport.html">Узнать подробнее</a>
                </div>
              </div>
              <div class="medium-4 cell">
                <ul class="primary-list">
                  <li class="primary-list__item">Спортивные комплексы</li>
                  <li class="primary-list__item">Базы отдыха</li>
                  <li class="primary-list__item">Мини-отели</li>
                  <li class="primary-list__item">Конюшни</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="na-panel5">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
                <img class="vert-tabs__img" src="assets/img/sh-tabs.jpg" alt="">
              </div>
              <div class="medium-8 cell">
                <h3 class="title">Сельское хозяйство</h3>
                <p class="vert-tabs__text">Компания «Стальстрой» много лет реализует проекты для аграрного сектора. У нас есть идеальные решения для коровника, птичника, мини-фермы, в том числе утепленные здания для холодного климата.
Проектируем и оборудуем зерновые комплексы под любые задачи, любой комплектации. Строим ЗАВы, элеваторы, силосы под «ключ». Здания от стальстрой — безопасная и надежная инвестиция.</p>
                <div class="vert-tabs__btns">
                  <a class="knob knob--left knob--tabs" href="#" data-open="mainmodal">Расчитать здание</a>
                  <a class="knob knob--right knob--tabs" href="./sh.html">Узнать подробнее</a>
                </div>
              </div>
              <div class="medium-4 cell">
                <ul class="primary-list">
                  <li class="primary-list__item">Зерновые комплексы</li>
                  <li class="primary-list__item">ЗАВы</li>
                  <li class="primary-list__item">Элеваторы</li>
                  <li class="primary-list__item">Фермы</li>
                  <li class="primary-list__item">Птичники</li>
                  <li class="primary-list__item">Овощехранилища</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
