$ddnav-height: 90px;



#ddnav .ddnav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;

      &__item {

            padding: 2.2em;
            background: $light-gray;

             @include breakpoint(medium down) {


                  &--child {
                        padding: 0;
												 padding-top: 2em;
                        font-weight: normal;
                  }


             }


      }

      &__link {
            padding: 0;
						color: $black;

            &--child {
                  font-size: 1em;
                  font-weight: normal;
            }
      }

}

.ddnav__mobile-wrp {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: $ddnav-height;

}

.ddnav__list--right {
      justify-content: flex-end;
}


#ddnav .dropdown.menu .nested.is-dropdown-submenu {
      border: 1px solid $light-gray;
}

#ddnav .ddnav__item .is-accordion-submenu-item {

}

.ddnav-header {
      background: $light-gray;
      padding: 0 1em;
}

//ddnav-burger

.ddnav-burger {
      padding: 1em 0;
      display: flex;
      align-items: center;
      justify-content: center;


      &__inner {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 3em;
            height: 3em;
            background: $light-gray;
            border: 1px solid $medium-gray;
            border-radius: 100%;
}

            &__icon {
                  font-size: 1em;
                  color: $black;
            }

}
