$dnav-oc-height: 80px;

.dnav-oc {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;


  @include breakpoint(medium down) {
    flex-direction: column;
    width: 100%;
  }


  &__header {
    padding: 0 2em;
    background: $primary-color;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $dnav-oc-height;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    @include breakpoint (medium down) {
      height: auto;
      justify-content: flex-start;
    }
  }

  &__knobs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: $dnav-oc-height;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    flex-direction: column;


  @include breakpoint(medium down) {
    border-bottom: 1px solid $white;
  }

    &:hover {

    }

  }

  &__subitem {
    display: flex;

    &:hover {

    }
  }

  &__link {
    display: flex;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    width: 100% !important;
    height: 100%;
    text-align: center;

    font-size: 0.9em;

    &:hover, &:active, &:focus  {
      color: $white;
    }

    .accordion-menu &__link {
      text-align: left;
    }


  }

  &__sublink {
    display: flex;
    color: $black;
    width: 100% !important;
    height: 100%;
    text-align: left;
    padding: 2em !important;
    border-bottom: 1px solid $light-gray;


    &:hover, &:active, &:focus  {
      color: $black;
    }
  }
}


.dnav-oc .submenu {
  width: 100%;
  background: $white;

}

//dnav-oc-burger

.dnav-oc-burger {
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 3em;
    height: 3em;
    border-radius: 100%;
  }

  &__icon {
    font-size: 2em;
    color: $white;
  }

}


// canvas


.dnav-oc__closebtn {
  position: absolute;
  background: $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  cursor: pointer;
  right: 0;
  left: 100%;
  margin-right: -3em;
}

#dnav-oc-canvas {
  background: $primary-color;

  box-shadow: none;

}

#dnav-oc-canvas .dnav-oc__link {
  text-align: left;
}

.dnav-oc__header.is-stuck {
  background: $white;
  box-shadow: 0 16px 56px 0 rgba(0,0,0,0.1);
  transition: ease .5s;
}



.dnav-oc__close {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 9999;
}

// header

.dnav-oc-header {
  border-bottom: 1px solid $black;
}

// current

.dnav-oc {

  &__list {
    margin: 0;
    padding: 3em 0;
    list-style: none;
    align-self: flex-end;
  }

  &__list-item {
    padding: 1em;
    color: $medium-gray;
  }

  &__icon {
    color: $white;
    margin-right: 1em;
  }
}
