$flatnav-oc-height: 90px;

.flatnav-oc {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 9999;

  @include breakpoint(small down) {
    flex-direction: column;
  }

  &__header {
    height: $flatnav-oc-height;
    padding: 0 2em;
    background: transparent;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $flatnav-oc-height;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: $flatnav-oc-height;
  }

  &__knobs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: $flatnav-oc-height;
  }

  &__link {
    padding: 2rem;
    display: flex;
    color: $black;

    &:hover, &:active, &:focus  {
      color: $black;
    }

    @include breakpoint(small down) {
      padding-left: 0;
    }
  }
}


//flatnav-burger

  .flatnav-oc-burger {

  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 3em;
      height: 3em;
      background: $white;
      border: 1px solid $black;
      border-radius: 100%;
    }

    &__icon {
      font-size: 1em;
      color: $black;
    }

    &__knobs {
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

  }


// canvas

#flatnav-oc-canvas {
  background: $white;
  width: 300px;
  box-shadow: none;
  border-left: 1px solid $black;
}


.flatnav-oc__header.is-stuck {
  background: $white;
  box-shadow: 0 16px 56px 0 rgba(0,0,0,0.1);
  transition: ease .5s;
}
