$flatnav-rvl-height: 90px;

.flatnav-rvl {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;


  @include breakpoint(small down) {
    flex-direction: column;
  }


    &__header {
      height: $flatnav-rvl-height;
      padding: 0 2em;
      background: transparent;
    }

    &__logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $flatnav-rvl-height;
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: $flatnav-rvl-height;
    }

    &__knobs {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-height: $flatnav-rvl-height;
    }

  &__link {
    padding: 2rem;
    display: flex;
    color: $black;

    &:hover, &:active, &:focus  {
      color: $black;
    }

    @include breakpoint(small down) {
      padding-left: 0;
    }
  }
}

//flatnav-burger

.flatnav-rvl-burger {

  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 150;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 3em;
      height: 3em;
      background: $white;
      border: 1px solid $black;
      border-radius: 100%;
    }

    &__icon {
      font-size: 1em;
      color: $black;
    }

}


// modal

#flatnav-rvl__modal {
  opacity: 0.9;
  background: $white;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.flatnav-rvl__modal-inner {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  height: 100%;
  flex-direction: column;
  padding: 0 3em;
  text-align: center;
}
