.flatnav-oc {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 9999;

  @include breakpoint(small down) {
    flex-direction: column;
  }

  &__link {
    padding: 2rem;
    display: flex;
    color: $black;

    &:hover, &:active, &:focus  {
      color: $black;
    }

    @include breakpoint(small down) {
      padding-left: 0;
    }
  }
}


 .flatnav-oc__wrp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 90px;
}


 .flatnav-oc--right {
  justify-content: flex-end;
 }

//flatnav-burger

  .flatnav-oc-burger {

  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 3em;
      height: 3em;
      background: $white;
      border: 1px solid $black;
      border-radius: 100%;
    }

    &__icon {
      font-size: 1em;
      color: $black;
    }

  }


// canvas

#flatnav-oc-canvas {
  background: $white;
  width: 300px;
  box-shadow: none;
  border-right: 1px solid $black;
}
