{{#ifequal type 'profile'}}
<div class="profile">
      <img class="profile__img" src="assets/img/man__sqr__02.jpg" alt="">
      <div class="profile__content">
            <h5 class="profile__name">Василий Орлов</h5>
            <span class="profile__info">Мастер высшей категории</span>
      </div>
            <img class="profile__signature" src="assets/img/signature.png" alt="">
</div>
{{/ ifequal}}

{{#ifequal type 'h-profile'}}
<div class="h-profile-wrp">
      <div class="h-profile">
            <div class="h-profile__img-holder">
                  <img class="h-profile__img" src="assets/img/man__vert__01.jpg" alt="">
            </div>
            <div class="h-profile__content">
                  <h5 class="h-profile__name">Мастер высшей категории</h5>
                  <span class="h-profile__info"></span>
            </div>
      </div>
</div>
{{/ ifequal}}
