.mg-card {
  text-align: center;
  box-shadow: $global-box-shadow;

  &:hover .mg-card__inner  {
    background: $primary-color;
    color: $white;
    transition: all 0.3s ease-out;
  }

  &:hover .mg-card__arrow {
    color: $white;
    transition: all 0.3s ease-out;
    transform: translateX(1em);
  }

  &:hover .br-card__list  {
    // display: block;
  }

  &__inner {
    cursor: pointer;
    background: $white;
    padding: 2em;
    border-radius: 5px;
    border: 1px solid $light-gray;
    transition: all 0.3s ease-out;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__iconbox {
    background: $white;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 4px solid $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    font-size: 5em;
    color: $primary-color;
  }

  &__arrow {
    padding-top: 1em;
    color: $primary-color;
    display: block;
    transition: all 0.3s ease-out;
    opacity: 0.7;
  }

  &__title {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.5em;
  }


  &__item {
    border-bottom: 1px solid $light-gray;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 1em;
  }
}
