<div class="grid-x">
  <!-- CONTACTS -->
  <div class="large-6 medium-12 cell">
    <ul class="h-topheader-cont">
      <li class="h-topheader-cont__item">
        <div class="h-topheader-cont__iconbox">
          <span class="h-topheader-cont__icon icon-map-marker"></span>
        </div>
        <div class="h-topheader-cont__content">
          <span class="h-topheader-cont__info">Адрес</span>
          <div class="h-topheader-cont__title">Москва, ул. Ленина, оф. 312</div>
        </div>
      </li>
      <li class="h-topheader-cont__item h-topheader-cont__item--last">
        <div class="h-topheader-cont__iconbox">
          <span class="h-topheader-cont__icon icon-phone"></span>
        </div>
        <div class="h-topheader-cont__content">
          <span class="h-topheader-cont__info">Телефон</span>
          <div class="h-topheader-cont__title">8 800 5000 700</div>
        </div>
      </li>
    </ul>
  </div>
  <!-- SOC ICONS -->
  <div class="large-6 medium-12 cell">
    <ul class="h-topheader-soc">
      <li class="h-topheader-soc__item">
        <a href="#" class="h-topheader-soc__link">
          <span class="h-topheader-soc__icon icon-vk"></span>
        </a>
      </li>
      <li class="h-topheader-soc__item">
        <a href="#" class="h-topheader-soc__link">
          <span class="h-topheader-soc__icon icon-telegram"></span>
        </a>
      </li>
      <li class="h-topheader-soc__item h-topheader-soc__item--last">
        <a href="#" class="h-topheader-soc__link">
          <span class="h-topheader-soc__icon icon-facebook2"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
