<div class="grid-x">
  <div class="large-8 medium-12 cell show-for-large">
    <ul class="li-topheader li-topheader--left">
      <li class="li-topheader__item">
        <div class="li-topheader__iconbox">
          <span class="li-topheader__icon icon-envelope"></span>
        </div>
        <span class="li-topheader__info">stalstroi@gmail.com</span>
      </li>
      <li class="li-topheader__item">
        <div class="li-topheader__iconbox">
          <span class="li-topheader__icon icon-map-marker"></span>
        </div>
        <span class="li-topheader__info">Москва, ул. Ленина, оф. 312</span>
      </li>
      <li class="li-topheader__item">
        <div class="li-topheader__iconbox">
          <span class="li-topheader__icon icon-box"></span>
        </div>
        <span class="li-topheader__info"><a class="li-topheader__link" href="./dostavka.html">Оплата и доставка</a></span>
      </li>
    </ul>
  </div>
  <div class="large-4 medium-12 cell">
    <div class="li-topheader li-topheader--right">
      <li class="li-topheader__item li-topheader__item--big">
        <div class="li-topheader__iconbox">
          <span class="li-topheader__icon icon-iphone"></span>
        </div>
        <span class="li-topheader__info">8 800 222 333 444</span>
      </li>
    </div>
  </div>
</div>
