<section class="topheader">
  <div class="grid-container">
    <div class="grid-x">
      <div class="large-3 medium-6 small-12 cell">
          {{> logo type='logo--topheader'}}
      </div>
      <div class="large-3 medium-6 small-12 cell">
        <div class="topheader-contact__item">
            <div class="topheader-contact__iconbox">
              <span class="topheader-contact__icon icon-phone"></span>
            </div>
            <div class="topheader-contact__content">
              <p class="topheader-contact__info">Телефон</p>
              <h4 class="topheader-contact__title">8 800 1969 80</h4>
            </div>
        </div>
      </div>
      <div class="large-3 medium-6 small-12 cell">
        <div class="topheader-contact__item">
            <div class="topheader-contact__iconbox">
              <span class="topheader-contact__icon icon-envelope"></span>
            </div>
            <div class="topheader-contact__content">
              <p class="topheader-contact__info">email</p>
              <h4 class="topheader-contact__title">sales@gmail.com</h4>
            </div>
        </div>
      </div>
      <div class="large-3 medium-6 small-12 cell">
        <div class="topheader-contact__item">
            <div class="topheader-contact__iconbox">
              <span class="topheader-contact__icon icon-envelope"></span>
            </div>
            <div class="topheader-contact__content">
              <p class="topheader-contact__info">Адрес</p>
              <h4 class="topheader-contact__title">Москва, ул. Ленина, оф. 312</h4>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
