{{#ifequal type 'single-input'}}
<div class="single-input">
      <input class="single-input__field" type="text">
      <div class="single-input__knobbox">
            <a href="" class="knob  single-input__knob">
                  <span class="single-input__icon icon-search2"></span>
                  Поиск
            </a>
      </div>
</div>
{{/ifequal}}

{{#ifequal type 'h-single-input'}}
<div class="h-single-input">
    <span class="h-single-input__icon icon-search2"></span>
    <input class="h-single-input__field" type="text">
    <div class="h-single-input__knobbox">
          <input type="submit" class="knob  h-single-input__knob" value="Поиск">
    </div>
</div>
{{/ifequal}}


{{#ifequal type 'li-single-input'}}
<div class="li-single-input">
      <input class="li-single-input__field" type="text">
      <div class="li-single-input__knobbox">
            <a href="" class="knob  li-single-input__knob">
                  <span class="li-single-input__icon icon-search2"></span>
                  Поиск
            </a>
      </div>
</div>
{{/ifequal}}


{{#ifequal type 'na-single-input'}}
<div class="na-single-input">
      <input class="na-single-input__field" type="text">
      <div class="na-single-input__knobbox">
            <a href="" class="knob  na-single-input__knob"><span class="na-single-input__icon icon-search2"></span></a>
      </div>
</div>
{{/ifequal}}

{{#ifequal type 'k-single-input'}}
<fieldset class="k-single-input">
      <input class="k-single-input__field" type="text">
      <div class="k-single-input__knobbox">
            <a href="" class="knob  k-single-input__knob">
                  <span class="k-single-input__icon icon-search2"></span>
            </a>
      </div>
</fieldset >
{{/ifequal}}
