.knob {
      @include button(false, $primary-color, $secondary-color);
      margin: 0;
      padding: 1em 3em;
      border-radius: 50px;


      &__inner {
            display: flex;
      }

      &__icon {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            stroke-width: 0;
            stroke: currentColor;
            fill: $white;
            line-height: 0;
            margin-right: 0.5rem;
      }
}


.knob-group {
      @include button-group(a, 1em);

      a  {
            padding: 1em 3em;
      }
}


.filters-knob-group {
      @include button-group(a, 1em);

      a  {
            background: $light-gray;
            color: $black;

            &:hover {
                  color: $black;
                  background: $medium-gray;
            }
      }
}



.knob-link {
      font-size: 1em;
      color: $black;
      display: flex;

      &:after {
            content: "\ea34";
            font-family: 'icomoon' !important;
            margin-left: 0.8em;
      }

}
