{{#ifequal type 'tags'}}
<div class="tags">
      <span class="tags__title">Например:</span>
      <ul class="tags__list">
            <li class="tags__item">
                  <a class="tags__link" href="">Ремонт</a>
            </li>
            <li class="tags__item">
                  <a class="tags__link" href="">Клининг</a>
            </li>
            <li class="tags__item">
                  <a class="tags__link" href="">Гипсокартон</a>
            </li>
      </ul>
</div>
{{/ifequal}}

{{#ifequal type '--header'}}
<div class="tags tags--header">
      <span class="tags__title">Например:</span>
      <ul class="tags__list">
            <li class="tags__item">
                  <a class="tags__link" href="">Ремонт</a>
            </li>
            <li class="tags__item">
                  <a class="tags__link" href="">Клининг</a>
            </li>
            <li class="tags__item">
                  <a class="tags__link" href="">Гипсокартон</a>
            </li>
      </ul>
</div>
{{/ifequal}}
