<div class="promo-slider">
<div class="promo">
      <div class="promo__inner">
            <div class="promo__image-holder">
                  <img class="promo__img" src="assets/img/img__hor__01.jpg" alt="">
            </div>
            <div class="promo__details">
                  <h3>Kansas City-style barbecue</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra auctor vestibulum</p>
                  {{>knob  type='knob'}}
            </div>
      </div>
</div>
<div class="promo">
      <div class="promo__inner">
            <div class="promo__image-holder">
                  <img class="promo__img" src="assets/img/img__hor__02.jpg" alt="">
            </div>
            <div class="promo__details">
                  <h3>Kansas City-style barbecue</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra auctor vestibulum</p>
                  {{>knob  type='knob'}}
            </div>
      </div>
</div>
</div>
