
{{#ifequal type 'split'}}
<section class="split-area">
      <div class="pr-split">
            <div class="large-6 medium-12 cell pr-split__left">
                  <div class="medium-12 cell">

                  </div>
            </div>
            <div class="large-6 medium-12 cell pr-split__right">
                  <div class="large-8 medium-12 cell">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, aperiam corrupti rem veniam quam. Numquam laudantium veniam debitis ad! Placeat neque pariatur magnam explicabo inventore recusandae vitae iste culpa eum.</p>
                  </div>
            </div>

      </div>
</section>
{{/ifequal}}


{{#ifequal type 'parallax-container'}}
<div class="parallax-container">
      <div class="grid-container">
            <div class="parallax-container__inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vero inventore culpa, ratione ea ullam repudiandae. Repellendus, eveniet unde, aut exercitationem architecto aperiam molestiae laudantium obcaecati hic tenetur quasi nesciunt!</p>
            </div>
      </div>
</div>
{{/ifequal}}
