.showcase-area{
      margin: 4em 0;
}


.showcase__title--big {
      margin-bottom: 1em;
}

// showcase

.showcase {
      position: relative;

      &:hover {

                  &:before {
                        background: linear-gradient(to bottom, rgba($primary-color , 0.5), rgba($black, 1));;
                  }
      }


      &:before {
            position: absolute;
            background: linear-gradient(to bottom, rgba($primary-color , 0), rgba($black, 0.6));;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
      }

      &__img-holder {
            width: 100%;
            height: 100%;
      }

      &__img {
            width: 100%;
            height: 100%;
            background: $black;
      }


      &__details {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 2em 3em;
            color: $white;
      }

      &__title {
            font-size: 1.2em;
            font-weight: bold;

            &--big {
                  font-size: 2em;
            }
      }


            &__link {
                  background: $white;
                  font-size: 1.5em;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  opacity: 0;
                  width: 2em;
                  height: 2em;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  transition: all 0.3s;
            }


            &:hover .showcase__link {
                  opacity: 1;
                  transition: all 0.3s;
            }
}
