<!-- MODAL BUTTON -->
<button type="button" class="knob knob--topheader" data-open="mainmodal">
  заказать звонок
</button>



<!-- MODAL -->

<div class="reveal" data-reveal id="mainmodal">
  <div class="modal__inner">
    <h2 class="title">Оставьте заявку</h2>
    <p>и мы свяжемся с Вами и подготовим для Вас  индивидуальное предложение</p>
    <div class="grid-x">
      <div class="medium-12 cell">
        {{> form type='name'}}
      </div>
      <div class="medium-12 cell">
        {{> form type='phone'}}
      </div>
      <div class="medium-12 cell">
        <a href="#" class="knob">Отправить</a>
      </div>
    </div>
    <small  class="modal__small">Нажимая кнопку, я даю свое согласие на обработку моих персональных данных, в соответствии с №152-ФЗ «О персональных данных» от 27.07.2006 года, на условиях и для целей, определенных в Согласии на обработку персональных данных.</small>
  </div>
  <button class="modal__close" data-close aria-label="Закрыть" type="button">
    <span class="icon-x modal__icon"></span>
  </button>
</div>
