<!-- OPEN BUTTON -->

<button type="button" class="knob" href="" data-open="search-fs">
  <span class="icon-search2"></span>
</button>

<!-- REVEAL -->

<div class="full reveal search-fs" id="search-fs" data-reveal>
  <div class="grid-container">
  <div class="search-fs__inner">
      <h1>Поиск</h1>
      <form class="search-fs__form" action="index.html">
        <div class="search-fs__input">
            <span class="search-fs__icon icon-search2"></span>
            <input class="search-fs__field" type="text">
            <div class="search-fs__knobbox">
              <input type="submit" class="knob search-fs__knob" value="Поиск">
            </div>
        </div>
    </form>
    </div>

    <!-- CLOSE BUTTON -->

    <button class="modal__close" data-close aria-label="Закрыть" type="button">
      <span class="icon-x modal__icon"></span>
    </button>
  </div>
</div>
