<div class="grid-x">
  <div class="large-4 medium-12 cell">
    <div class="k-feature k-feature--boxone">
        <div class="k-feature__iconbox">
          <span class="icon-write k-feature__icon"></span>
        </div>
        <div  class="k-feature__content">
          <h3>Design & <span>Architect Package</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur est, distinctio itaque dolorum perspiciatis officiis magnam aperiam? Iusto omnis explicabo aspernatur adipisci optio non, cum eum. Ullam, beatae animi optio.</p>
        </div>
    </div>
  </div>
  <div class="large-4 medium-12 cell">
    <div class="k-feature k-feature--boxtwo">
        <div class="k-feature__iconbox">
          <span class="icon-write k-feature__icon"></span>
        </div>
        <div  class="k-feature__content">
          <h3>Design & <span>Architect Package</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur est, distinctio itaque dolorum perspiciatis officiis magnam aperiam? Iusto omnis explicabo aspernatur adipisci optio non, cum eum. Ullam, beatae animi optio.</p>
        </div>
    </div>
  </div>
  <div class="large-4 medium-12 cell">
    <div class="k-feature k-feature--boxthree">
        <div class="k-feature__iconbox">
          <span class="icon-write k-feature__icon"></span>
        </div>
        <div  class="k-feature__content">
          <h3>Design & <span>Architect Package</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur est, distinctio itaque dolorum perspiciatis officiis magnam aperiam? Iusto omnis explicabo aspernatur adipisci optio non, cum eum. Ullam, beatae animi optio.</p>
        </div>
    </div>
  </div>
</div>
