<section class="rb-feature__area">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="large-3 medium-6 small-12 cell">
        <div class="rb-feature">
          <div class="rb-feature__inner">
            <span class="icon-write rb-feature__icon"></span>
            <h3 class="rb-feature__title">Instant Connection</h3>
            <p class="rb-feature__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
          </div>
        </div>
      </div>
      <div class="large-3 medium-6 small-12 cell">
        <div class="rb-feature">
          <div class="rb-feature__inner">
            <span class="icon-flag rb-feature__icon"></span>
            <h3 class="rb-feature__title">Instant Conclusion</h3>
            <p class="rb-feature__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
          </div>
        </div>
      </div>
      <div class="large-3 medium-6 small-12 cell">
        <div class="rb-feature">
          <div class="rb-feature__inner">
            <span class="icon-write rb-feature__icon"></span>
            <h3 class="rb-feature__title">Instant Connection</h3>
            <p class="rb-feature__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
          </div>
        </div>
      </div>
      <div class="large-3 medium-6 small-12 cell">
        <div class="rb-feature">
          <div class="rb-feature__inner">
            <span class="icon-flag rb-feature__icon"></span>
            <h3 class="rb-feature__title">Instant Conclusion</h3>
            <p class="rb-feature__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
