.li-steps {

  &__inner {
    text-align: center;

    &:hover .li-steps__num {
      transform: scale(.8);
    }
  }

  &__imgbox {
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    border-radius: 50%;
    background: $medium-gray;
    max-width: 100%;
    height: auto;
  }

  &__num {
    background: rgba($black,.85);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5em;
    height: 100%;
    width: 100%;
    color: $white;
    border-radius: 50%;
    font-weight: bold;
    transition: all .3s ease-in-out;
  }

  &__title {
    margin-top: 1em;
    font-weight: bold;
  }


}
