.li-feature {

  &:nth-child(1) {
  }

  &__inner {
    padding: 2em;
    display: flex;
    background: lighten($light-gray, 5%);
    margin: 1em;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  &__content {
    text-align: left;
    padding-left: 1em;
  }

  &__footer {
    text-align: left;
  }

  &__iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    flex-shrink: 1;
    padding-right: 1em;
    border-right: 2px solid $primary-color;
  }

  &__icon {
    font-size: 3em;
    color: $primary-color;
  }

  &__title {
    font-weight: bold;
  }

  &__info {
    color: $dark-gray;
    padding: 1em 0;
    display: block;
  }

  &__button {
    background: $dark-gray;
  }
}
