<section class="section partners">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
      <div class="large-6 medium-12 cell">
        <div class="grid-x grid-margin-x">
          <div class="medium-12 cell align-center">
             <div class="title__box title__box--left">
                <h2 class="title">Наши партнеры:</h2>
            </div>
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img" src="assets/img/partners/partner-1.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-2.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-3.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-4.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-5.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-6.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-7.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-8.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-9.png" alt="">
          </div>
        </div>
      </div>
      <div class="large-6 medium-12 cell">
        <div class="testimonials-area">
          <div class="testimonials">
            <div class="k-testimonial">
              <div class="k-testimonial__inner">
                <div class="k-testimonial__icon-holder">
                  <span class="k-testimonial__icon icon-bubbles2"></span>
                </div>
                <p class="k-testimonial__text">«Строили ангар 500 м2, всё сделали отлично. Посоветовали и поставили распашные ворота. Реально удобно. Большое спасибо».</p>
                <img class="k-testimonial__img" src="assets/img/client-01.jpg" alt="">
                <div class="k-testimonial__info-holder">
                  <h5 class="k-testimonial__name">Василий Сорокин</h5>
                  <span class="k-testimonial__info">Липецк, ООО «Миниферма»</span>
                </div>
              </div>
            </div>
            <div class="k-testimonial">
              <div class="k-testimonial__inner">
                <div class="k-testimonial__icon-holder">
                  <span class="k-testimonial__icon icon-bubbles2"></span>
                </div>
                <p class="k-testimonial__text">«Строили ангар 500 м2, всё сделали отлично. Посоветовали и поставили распашные ворота. Реально удобно. Большое спасибо».</p>
                <img class="k-testimonial__img" src="assets/img/client-02.jpg" alt="">
                <div class="k-testimonial__info-holder">
                  <h5 class="k-testimonial__name">Олег Орлов</h5>
                  <span class="k-testimonial__info">Липецк, ООО «Миниферма»</span>
                </div>
              </div>
            </div>
            <div class="k-testimonial">
              <div class="k-testimonial__inner">
                <div class="k-testimonial__icon-holder">
                  <span class="k-testimonial__icon icon-bubbles2"></span>
                </div>
                <p class="k-testimonial__text">«Строили ангар 500 м2, всё сделали отлично. Посоветовали и поставили распашные ворота. Реально удобно. Большое спасибо».</p>
                <img class="k-testimonial__img" src="assets/img/client-03.jpg" alt="">
                <div class="k-testimonial__info-holder">
                  <h5 class="k-testimonial__name">Игорь Синицын</h5>
                  <span class="k-testimonial__info">Липецк, ООО «Миниферма»</span>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonials__dots"></div>
        </div>
      </div>
    </div>
  </div>
</section>
