<section class="section partners">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
      <div class="large-6 medium-12 cell">
        <div class="grid-x grid-margin-x">
          <div class="medium-12 cell align-center">
             <div class="title__box title__box--left">
                <h2 class="title">Наши партнеры:</h2>
            </div>
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img" src="assets/img/partners/partner-1.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-2.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-3.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-4.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-5.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-6.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-7.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-8.png" alt="">
          </div>
          <div class="medium-4 cell">
            <img  class="partner__img"  src="assets/img/partners/partner-9.png" alt="">
          </div>
        </div>
      </div>
      <div class="large-6 medium-12 cell">
        <div class="testimonials-area">
          <div class="testimonials">
            {{> testimonial type='k-testimonial'}}
            {{> testimonial type='k-testimonial'}}
            {{> testimonial type='k-testimonial'}}
          </div>
          <div class="testimonials__dots"></div>
        </div>

      </div>
    </div>
  </div>
</section>
