<div class="grid-x grid-margin-x">
  <div class="large-6 medium-12 cell">
    <div class="object-card">
      <div class="object-card__header">
        <div class="object-card__imgbox">
          <img class="object-card__img" src="assets/img/objects/prom-obj__thumb01.jpg" alt="">
        </div>
        <div class="object-card__details">
          <h4 class="object-card__title">Завод</h4>
          <span>Тамбов, 1200 м2</span>
        </div>
        <a  class="object-card__link" href="assets/img/objects/prom-obj__full01.jpg" data-rel="lightcase:prom-buildings">
          <span class="object-card__icon icon-eye2"></span>
        </a>
      </div>
      <div class="object-card__content">
        <ul class="object-card__list">
          <li class="object-card__list-item"><span>Заказачик:</span> <span>«Тамбов Логистик»</span></li>
          <li class="object-card__list-item"><span>Тип здания:</span> <span>Логистический центр</span></li>
          <li class="object-card__list-item"><span>Сроки: </span>  <span>Май 2017 - Ноябрь 2017</span></li>
          <li class="object-card__list-item"><span>Работы:</span> <span>Изготовление и монтаж</span></li>
        </ul>
      </div>
      <div class="object-card__footer">
        <a class="knob knob--red" href="#" data-open="request-modal">Запросить стоимость</a>
      </div>
    </div>
  </div>
  <div class="large-6 medium-12 cell">
    <div class="object-card">
      <div class="object-card__header">
        <div class="object-card__imgbox">
          <img class="object-card__img" src="assets/img/objects/prom-obj__thumb02.jpg" alt="">
        </div>
        <div class="object-card__details">
          <h4 class="object-card__title">«Надежда фарм»</h4>
          <span>Тамбов, 1200 м2</span>
        </div>
        <a  class="object-card__link" href="assets/img/objects/prom-obj__full02.jpg" data-rel="lightcase:prom-buildings">
          <span class="object-card__icon icon-eye2"></span>
        </a>
      </div>
      <div class="object-card__content">
        <ul class="object-card__list">
          <li class="object-card__list-item"><span>Заказачик:</span> <span>«Тамбов Логистик»</span></li>
          <li class="object-card__list-item"><span>Тип здания:</span> <span>Логистический центр</span></li>
          <li class="object-card__list-item"><span>Сроки: </span>  <span>Май 2017 - Ноябрь 2017</span></li>
          <li class="object-card__list-item"><span>Работы:</span> <span>Изготовление и монтаж</span></li>
        </ul>
      </div>
      <div class="object-card__footer">
        <a class="knob knob--red" href="#" data-open="request-modal">Запросить стоимость</a>
      </div>
    </div>
  </div>
</div>
