<table>
  <thead>
    <tr>
      <th width="500">Технические параметры катков</th>
      <th width="150">Ед. измерения</th>
      <th width="300">W6</th>
      <th width="300">W9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Рабочая ширина</td>
      <td>м</td>
      <td>6.0</td>
      <td>9.2</td>
    </tr>
    <tr>
      <td>Транспортная ширина</td>
      <td>м</td>
      <td>2.3</td>
      <td>2.3</td>
    </tr>
    <tr>
      <td>Транспортная длина</td>
      <td>м</td>
      <td>4.4</td>
      <td>6.3</td>
    </tr>
    <tr>
      <td>Дорожный просвет</td>
      <td>мм</td>
      <td>360</td>
      <td>360</td>
    </tr>
    <tr>
      <td>Вес диска</td>
      <td>кг</td>
      <td>13/26</td>
      <td>13/26</td>
    </tr>
    <tr>
      <td>Диаметр диска</td>
      <td>мм</td>
      <td>530</td>
      <td>530</td>
    </tr>
    <tr>
      <td>Рабочая скорость</td>
      <td>км/ч</td>
      <td>до 10</td>
      <td>до 10</td>
    </tr>
    <tr>
      <td>Транспортная скорость</td>
      <td>км/ч</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <td>Рекомендованная мощность</td>
      <td>л.с.</td>
      <td>80 - 110</td>
      <td>80 - 150</td>
    </tr>
    <tr>
      <td>Производительность за 1 час</td>
      <td>га/ч</td>
      <td>до 10</td>
      <td>до 15</td>
    </tr>
    <tr>
      <td>Количество секций</td>
      <td>шт.</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Ширина захвата</td>
      <td>м</td>
      <td>6.0</td>
      <td>9.2</td>
    </tr>
    <tr>
      <td>Ширина рабочих секций</td>
      <td>мм</td>
      <td>1886 - 2 шт. <br/>1988 - 1 шт.</td>
      <td>1580 - 2 шт.<br/> 1886 - 2 шт.<br/> 1988 - 1 шт.</td>
    </tr>
  </tbody>
</table>
