<table>
  <thead>
    <tr>
      <th width="400">Технические параметры борон</th>
      <th width="">БЗГТ-15</th>
      <th width="">БЗГТ-19</th>
      <th width="">БЗГТ-21</th>
      <th width="">БЗГТ-25</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ширина, м</td>
      <td>15,9</td>
      <td>19,5</td>
      <td>22</td>
      <td>25,7</td>
    </tr>
    <tr>
      <td>Высота, м</td>
      <td>1,56</td>
      <td>1,56</td>
      <td>1,56</td>
      <td>1,56</td>
    </tr>
    <tr>
      <td>Оптимальная рабочая скорость, км/час</td>
      <td>18-19</td>
      <td>18-19</td>
      <td>18-19</td>
      <td>18-19</td>
    </tr>
    <tr>
      <td>Производительность, га/час</td>
      <td>15-23</td>
      <td>18-28 </td>
      <td>21-32</td>
      <td>25-36</td>
    </tr>
    <tr>
      <td>Число рабочих органов (спаренные пружинные зубья), шт</td>
      <td>125</td>
      <td>155</td>
      <td>175</td>
      <td>205</td>
    </tr>
    <tr>
      <td>Шаг продольных рядов зубьев, мм</td>
      <td>60</td>
      <td>60</td>
      <td>60</td>
      <td>60</td>
    </tr>
    <tr>
      <td>Глубина обработки, см</td>
      <td>4 — 12</td>
      <td>4 — 12</td>
      <td>4 — 12</td>
      <td>4 — 12</td>
    </tr>
    <tr>
      <td>Толщина зуба, мм</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
    </tr>
    <tr>
      <td>Мощность трактора, л.с</td>
      <td>150 — 200</td>
      <td>200 — 300</td>
      <td>250 — 350</td>
      <td>350 — 450</td>
    </tr>
  </tbody>
</table>
