<ul class="socicon">
      <li class="socicon__item">
            <a href="#" class="socicon__link">
                  <span class="socicon__icon icon-vk"></span>
            </a>
      </li>
      <li class="socicon__item">
            <a href="#" class="socicon__link">
                  <span class="socicon__icon icon-telegram"></span>
            </a>
      </li>
      <li class="socicon__item">
            <a href="#" class="socicon__link">
                  <span class="socicon__icon icon-facebook2"></span>
            </a>
      </li>
</ul>
