
  <div class="vert-soc">
    <div class="vert-soc__list">
      <li class="vert-soc__item">
        <a href="#" class="vert-soc__link">
        <span class="vert-soc__icon icon-vk"></span>
      </a>
      </li>
      <li class="vert-soc__item">
        <a href="#" class="vert-soc__link">
        <span class="vert-soc__icon icon-telegram"></span>
      </a>
      </li>
      <li class="vert-soc__item">
        <a href="#" class="vert-soc__link">
        <span class="vert-soc__icon icon-facebook2"></span>
      </a>
      </li>
    </div>
  </div>
