.h-callus-area {
    background: $black;
    color: $white;
    padding: 2em;
}

.h-callus {
  display: flex;
  justify-content: center;

  @include breakpoint (small down) {
    flex-direction: column;
    text-align: center;
  }

  &__iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid $white;
    padding: 2em;
    margin-right: 2em;


      @include breakpoint (small down) {
        border: 0;
        padding: 0;
        margin: 0;
        margin-bottom: 1em;
      }
  }

  &__icon {
      font-size: 4em;
  }

  &__title {
    font-weight: bold;

    &--hide {

          @include breakpoint (medium down) {
            display: none;
          }
    }
  }
}
