<ul class="h-accordion" data-accordion>
  <li class="h-accordion__item is-active" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="h-accordion__title">Accordion 1</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="h-accordion__content accordion-content" data-tab-content>
      <div class="grid-x">
        <div class="medium-6 cell">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius neque modi saepe iste, impedit voluptatum debitis nihil quis nemo, laboriosam culpa aut itaque. Sed unde ea culpa eius ipsum quod.</p>
        </div>
        <div class="medium-6 cell">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius neque modi saepe iste, impedit voluptatum debitis nihil quis nemo, laboriosam culpa aut itaque. Sed unde ea culpa eius ipsum quod.</p>
        </div>
      </div>
    </div>
  </li>
  <li class="h-accordion__item" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="h-accordion__title">Accordion 2</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="h-accordion__content accordion-content" data-tab-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta voluptate suscipit obcaecati voluptatum asperiores maiores dolor nihil, alias excepturi laboriosam facere adipisci explicabo sapiente magnam repudiandae perspiciatis ex. Inventore, dolores.</p>
    </div>
  </li>
  <!-- ... -->
</ul>
