{{#ifequal type 'testimonial'}}
<div class="testimonial">
      <div class="testimonial__inner">
            <div class="testimonial__header">
                  <img class="testimonial__img" src="assets/img/man__sqr__01.jpg" alt="">
            </div>
            <div class="testimonial__content">
                  <h5 class="testimonial__name">Вася Козырьков</h5>
                  <span class="testimonial__info">Наш приятель</span>
                  <p class="testimonial__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus, molestias quos, iure cumque, facere reiciendis similique ab expedita rem velit.</p>
            </div>
      </div>
</div>
{{/ifequal}}


{{#ifequal type 'h-testimonial'}}
<div class="h-testimonial">
      <div class="h-testimonial__inner">
            <div class="h-testimonial__header">
                  <p class="h-testimonial__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus, molestias quos, iure cumque, facere reiciendis similique ab expedita rem velit.</p>
            </div>
            <div class="h-testimonial__content">
                  <div class="h-testimonial__img-holder">
                        <img class="h-testimonial__img" src="assets/img/man__sqr__02.jpg" alt="">
                  </div>
                  <div class="h-testimonial__info-holder">
                        <h5 class="h-testimonial__name">Вася Козырьков</h5>
                        <span class="h-testimonial__info">Наш приятель</span>
                  </div>
            </div>
      </div>
</div>
{{/ifequal}}


{{#ifequal type 'li-testimonial'}}
<div class="li-testimonial">
      <div class="li-testimonial__inner">
            <div class="li-testimonial__header">
                  <img class="li-testimonial__img" src="assets/img/man__vert__03.jpg" alt="">
            </div>
            <div class="li-testimonial__content">
                  <span class="li-testimonial__icon icon-bubbles"></span>
                  <div class="li-testimonial__info-holder">
                        <h5 class="li-testimonial__name">Вася Козырьков</h5>
                        <span class="li-testimonial__info">Наш приятель</span>
                  </div>
                  <p class="li-testimonial__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus, molestias quos, iure cumque, facere reiciendis similique ab expedita rem velit.</p>
            </div>
      </div>
</div>
{{/ifequal}}


{{#ifequal type 'na-testimonial'}}
<div class="na-testimonial">
      <div class="na-testimonial__inner">
            <div class="na-testimonial__header">
                  <img class="na-testimonial__img" src="assets/img/man__sqr__01.jpg" alt="">
            </div>
            <div class="na-testimonial__content">
                  <h5 class="na-testimonial__name">Вася Козырьков</h5>
                  <span class="na-testimonial__info">Наш приятель</span>
                  <p class="na-testimonial__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus, molestias quos, iure cumque, facere reiciendis similique ab expedita rem velit.</p>
            </div>
      </div>
</div>
{{/ifequal}}


{{#ifequal type 'k-testimonial'}}
<div class="k-testimonial">
      <div class="k-testimonial__inner">
                  <div class="k-testimonial__icon-holder">
                        <span class="k-testimonial__icon icon-bubbles2"></span>
                  </div>
                  <p class="k-testimonial__text">«Строили ангар 500 м2, всё сделали отлично. Посоветовали и поставили распашные ворота. Реально удобно. Большое спасибо».</p>
                  <img class="k-testimonial__img" src="assets/img/client-01.jpg" alt="">


                  <div class="k-testimonial__info-holder">
                        <h5 class="k-testimonial__name">Василий Сорокин</h5>
                        <span class="k-testimonial__info">Липецк, ООО «Миниферма»</span>
                  </div>

      </div>
</div>
{{/ifequal}}
