<div class="grid-container">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="large-3 medium-6 small-12 cell">
      <div class="li-steps">
        <div class="li-steps__inner">
          <figure class="li-steps__imgbox">
            <img class="li-steps__img" src="assets/img/img__sqr__01.jpg" alt="">
            <span class="li-steps__num">1</span>
          </figure>
          <div class="li-steps__info">
            <h3 class="li-steps__title">Brainstorming</h3>
            <p>The embryonic stage of the idea and its conception before birth.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 cell">
      <div class="li-steps">
        <div class="li-steps__inner">
          <figure class="li-steps__imgbox">
            <img class="li-steps__img" src="assets/img/img__sqr__02.jpg" alt="">
            <span class="li-steps__num">2</span>
          </figure>
          <div class="li-steps__info">
            <h3 class="li-steps__title">Develop the prototype</h3>
            <p>The embryonic stage of the idea and its conception before birth.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 cell">
      <div class="li-steps">
        <div class="li-steps__inner">
          <figure class="li-steps__imgbox">
            <img class="li-steps__img" src="assets/img/img__sqr__03.jpg" alt="">
            <span class="li-steps__num">3</span>
          </figure>
          <div class="li-steps__info">
            <h3 class="li-steps__title">Evolve the solution</h3>
            <p>The embryonic stage of the idea and its conception before birth.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 cell">
      <div class="li-steps">
        <div class="li-steps__inner">
          <figure class="li-steps__imgbox">
            <img class="li-steps__img" src="assets/img/img__sqr__04.jpg" alt="">
            <span class="li-steps__num">4</span>
          </figure>
          <div class="li-steps__info">
            <h3 class="li-steps__title">Review and Redesign</h3>
            <p>The embryonic stage of the idea and its conception before birth.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
