.h-iconform {
      display: flex;
      width: 100%;
      position: relative;
      margin-bottom: $global-margin * 2;

      &__input {
            margin: 0;
            padding-left: 1em;
            border: 1px solid $dark-gray;
      }


      &__icon {
            background: $light-gray;
            border: 1px solid $dark-gray;
            border-right: transparent;
            padding: 0 1em;
            display: flex;
            align-items: center;
            justify-content: center;
      }

}

.h-iconform__select {
            margin: 0;
            border: 1px solid $dark-gray;

      &__icon {
            font-size: 1em;
            color: $medium-gray;
      }

}



.h-iconform__date {
      margin: 0;
      border: 1px solid $dark-gray;
}
