.na-testimonial {

      padding: 2em;

      &__inner {
            padding: 3em 2em;
            display: flex;
      }

      &__img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
      }

      &__icon {
            display: inline-block;
            width: 2em;
            height: 2em;
            stroke-width: 0;
            stroke: currentColor;
            fill: $medium-gray;
      }

      &__header {
            flex-shrink: 0;
      }

      &__content {
            padding-left: 2em;
      }

      &__name {
            font-weight: bold;
            margin: 0;
            padding: 0;
      }

      &__info {
            margin-bottom: 1em;
            display: block;
      }

      &__text {

      }
}
