.testimonial {

      &__img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
      }

}

//CURRENT


//STYLES



@import 'h-testimonial';
@import 'li-testimonial';
@import 'na-testimonial';
